{{ define "main" }}
  <section class="container max-w-full pt-10 mx-auto prose">
    {{ .Content }}
    <div class="grid items-center grid-cols-1 gap-5 md:grid-cols-2">
      <div class="w-full max-w-full prose text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nesciunt, aliquid a mollitia, fugiat, quasi voluptates nulla molestias ex quia velit eaque totam at commodi repudiandae eos est eveniet cumque! Tenetur magni cum dignissimos magnam eaque rem, exercitationem nesciunt facilis, sit
        libero odit non harum aperiam omnis. Natus dolore ipsa ea, facere delectus neque excepturi nesciunt, sit eos quaerat iste? Delectus corrupti minima, repudiandae fuga, non illum reiciendis quis molestias veniam iusto sed vel quisquam illo blanditiis, iste alias ad accusamus! Suscipit
        doloremque vero nesciunt expedita culpa eveniet perferendis beatae. Perferendis est iusto repellat ipsum consequuntur magnam. Iste vitae quo eaque? Culpa unde non eligendi numquam libero odit quis tenetur aliquid nemo fugiat! Iste magnam non maiores nulla enim commodi!
      </div>
      <div><img src="http://www.kanchraparacollege.ac.in/DeptBan/chemistry.jpg" alt="" class="object-cover object-center w-full h-full" /></div>
    </div>
    <div class="grid items-center grid-cols-1 gap-5 md:grid-cols-3">
      <div><img src="http://www.kanchraparacollege.ac.in/DeptBan/chemistry.jpg" alt="" class="object-cover object-center w-full h-full" /></div>
      <div class="w-full max-w-full prose text-justify md:col-span-2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum nesciunt, aliquid a mollitia, fugiat, quasi voluptates nulla molestias ex quia velit eaque totam at commodi repudiandae eos est eveniet cumque! Tenetur magni cum dignissimos magnam eaque rem, exercitationem nesciunt facilis, sit
        libero odit non harum aperiam omnis. Natus dolore ipsa ea, facere delectus neque excepturi nesciunt, sit eos quaerat iste? Delectus corrupti minima, repudiandae fuga, non illum reiciendis quis molestias veniam iusto sed vel quisquam illo blanditiis, iste alias ad accusamus! Suscipit
        doloremque vero nesciunt expedita culpa eveniet perferendis beatae. Perferendis est iusto repellat ipsum consequuntur magnam. Iste vitae quo eaque? Culpa unde non eligendi numquam libero odit quis tenetur aliquid nemo fugiat! Iste magnam non maiores nulla enim commodi!
      </div>
    </div>
  </section>

  {{ partial "schema/website.html" . }}
{{ end }}
