{{ define "main" }}
  {{ $pageData := .Site.Data.singlePageTemplate }}


  {{/*  <section class="bg-primary">{{ partial "header.html" . }}</section>  */}}
  <div class="physics">
    <div class="relative font-bold bg-center bg-no-repeat bg-cover h-92" style="background-image: url('http://www.kanchraparacollege.ac.in/images/computer.jpg')">
      <div class="absolute inset-0 z-10 bg-black opacity-30"></div>
      <h1 class="container relative z-20 pt-20 mx-auto text-5xl text-white">{{ .Params.departmentName }}</h1>
    </div>
  </div>
  <div class="min-w-full pt-16 bg-gray-100 dept">
    <div class="container py-6 mx-auto bg-white">
      <h1 class="flex justify-center pb-5 text-4xl">Department of Physics</h1>
      <div class="grid grid-cols-1 gap-4 md:grid-cols-4">
        <div class="bg-gray-100">
          <ul class="font-medium" data-id="tab-controller-contaner">
          <li class="">
            <button class="w-full px-5 py-3 text-white duration-300 ease-in-out hover:text-white hover:bg-primary bg-primary" onclick="changeTab(1);">History</button>
          </li>
          <li class="">
            <button class="w-full px-5 py-3 duration-300 ease-in-out hover:bg-primary hover:text-white" onclick="changeTab(2);">Courses</button>
          </li>
          <li class="">
            <button class="w-full px-5 py-3 duration-300 ease-in-out hover:bg-primary hover:text-white" onclick="changeTab(3);">Outcome</button>
          </li>
          <li class="">
            <button class="w-full px-5 py-3 duration-300 ease-in-out hover:bg-primary hover:text-white" onclick="changeTab(4);">Faculty</button>
          </li>
          <li class="">
            <button class="w-full px-5 py-3 duration-300 ease-in-out hover:bg-primary hover:text-white" onclick="changeTab(5);">Intake</button>
          </li>
          <li class="">
            <button class="w-full px-5 py-3 duration-300 ease-in-out hover:bg-primary hover:text-white" onclick="changeTab(6);">Infrastructure</button>
          </li>
          <li class="">
            <button class="w-full px-5 py-3 duration-300 ease-in-out hover:bg-primary hover:text-white" onclick="changeTab(7);">Teaching</button>
          </li>
          <li class="">
            <button class="w-full px-5 py-3 duration-300 ease-in-out hover:bg-primary hover:text-white" onclick="changeTab(8);">Assessment</button>
          </li>
          <li class="">
            <button class="w-full px-5 py-3 duration-300 ease-in-out hover:bg-primary hover:text-white" onclick="changeTab(9);">Results</button>
          </li>
          <li class="">
            <button class="w-full px-5 py-3 duration-300 ease-in-out hover:bg-primary hover:text-white" onclick="changeTab(10);">Events</button>
          </li>
          </ul>
        </div>
        <div class="px-8 mt-4 md:col-span-3" data-id="main-tab-container">
          <div class="">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam sed corrupti quas dicta est. Officia quia nemo vel cumque? Natus sequi nulla tenetur quidem neque, officia sunt ex excepturi recusandae!
          </div>
          <div class="hidden">Courses</div>
          <div class="hidden">outcome</div>
          <div class="hidden">
            <h2 class="text-2xl font-bold text-center">Faculty</h2>
            <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
              <div  class="text-center">
                <img src="" alt="" srcset="" class="w-40 h-40 mx-auto" />
                <h3 class="mt-1 font-bold">Name</h3>
                <p class="text-sm">designation</p>
                <a href="#" class="mt-0.5 text-xs underline hover:text-primary">View profile</a>
              </div>
            </div>
          </div>
          <div class="hidden">Intake</div>
          <div class="hidden">Infrastructure</div>
          <div class="hidden">Teaching</div>
          <div class="hidden">Assessment</div>
          <div class="hidden">Results</div>
          <div class="hidden">Events</div>
        </div>
      </div>
    </div>
  </div>
  
  {{ partial "schema/website.html" . }}
  
  
  <script>
    function changeTab(index) {
      const displayTabElement = document.querySelector('[data-id="main-tab-container"] >  div:not(.hidden)');
      displayTabElement.classList.add('hidden');
      
      const tabElements = document.querySelectorAll('[data-id="main-tab-container"] > div');
      tabElements[index - 1].classList.remove('hidden');

      const currentSelectedButton = document.querySelector('[data-id="tab-controller-contaner"] button.bg-primary.text-white');
      currentSelectedButton.classList.remove('text-white', 'bg-primary');

      const tabControllerElements = document.querySelectorAll('[data-id="tab-controller-contaner"] button');
      tabControllerElements[index - 1].classList.add('text-white', 'bg-primary');
    }
  </script>
{{ end }}
