{{ $authorName := .Params.author }}
{{ range $.Site.Data.authors.authors }}
{{ if eq .slug $.Params.author }}
{{ $authorName = .name }}
{{ end }}
{{ end }}

{{ $articleImage := .Site.Data.singlePageTemplate.defaultArticle.image.url | absURL }}
{{ if .Params.articleData.image.url }}
{{ $articleImage = .Params.articleData.image.url | absURL }}
{{ end }}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ .Permalink }}"
    },
    "headline": "{{ .Params.articleData.title.blue }} {{ .Params.articleData.title.normal }}",
    "image": ["{{ $articleImage }}"],
    "datePublished": "{{ dateFormat "2006-01-02" $.Date }}",
    "dateModified": "{{ dateFormat "2006-01-02" now }}",
    "author": {
      "@type": "Person",
      "name": "{{ $authorName }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Title }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ "/images/logo.svg" | absURL }}"
      }
    }
  }
</script>