{{ $currentUrl := replace .Permalink "http://" "https://" }}
{{ $homeBreadcrumb := "Home" }}

{{ $date := now }}
{{ if not $.Date.IsZero }}
  {{ $date = $.Date }}
{{ end }}

{{ if not .Params.private }}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "{{ .Site.Title }}",
    "url": "{{ $currentUrl }}",
    "description": "{{ .Description }}",
    "thumbnailUrl": "{{ "/images/logo.svg" | absURL }}",
    "datePublished": "{{ dateFormat "2006-01-02" $date }}",
    "dateModified": "{{ dateFormat "2006-01-02" now }}"
  }
</script>
{{ end }}