{{ define "main" }}
{{ $pageData := .Site.Data.singlePageTemplate }}


<section class="bg-sky-blue">
  {{ partial "header.html" . }}
</section>
<div class="font-bold h-92" style="background-image: url('/images/Science.jpg')">
  <div class="py-36">
    <h1 class="flex justify-center text-5xl font-medium text-white">Departments</h1>
    <h1 class="flex justify-center text-xl font-thin text-white ">Home/Departments</h1>
  </div>
</div>
<div class="min-w-full bg-gray-200 h-425 ">
  <h1 class="flex justify-center pt-6 text-4xl underline">Science</h1>
  <div class="flex justify-evenly">
    <div class="w-64 my-20 bg-white h-50 rounded-xl">
      <div class="flex h-40 rounded-xl " style="background-image: url('/images/botany.jpg')"></div>
      <h1 class="flex justify-center py-2 font-semibold">Botany</h1>
    </div>
    <div class="w-64 my-20 bg-white h-50 rounded-xl">
      <div class="flex h-40 rounded-xl " style="background-image: url('/images/botany.jpg')"></div>
      <h1 class="flex justify-center py-2 font-semibold">Zoology</h1>
    </div>
    <div class="w-64 my-20 bg-white h-50 rounded-xl">
      <div class="flex h-40 rounded-xl " style="background-image: url('/images/chemistry.jpg')"></div>
      <h1 class="flex justify-center py-2 font-semibold">Chemistry</h1>
    </div>
    <div class="w-64 my-20 bg-white h-50 rounded-xl">
      <div class="flex h-40 rounded-xl " style="background-image: url('/images/Computer1.jpg')"></div>
      <h1 class="flex justify-center py-2 font-semibold">Computer</h1>
    </div>
  </div>
  <div class="flex justify-evenly">
    <div class="w-64 bg-white h-50 rounded-xl">
      <div class="flex h-40 rounded-xl " style="background-image: url('/images/economics1.jpg')"></div>
      <h1 class="flex justify-center py-2 font-semibold">Economics</h1>
    </div>
    <div class="w-64 bg-white h-50 rounded-xl">
      <div class="flex h-40 rounded-xl " style="background-image: url('/images/geography.jpg')"></div>
      <h1 class="flex justify-center py-2 font-semibold">Geography</h1>
    </div>
    <div class="w-64 bg-white h-50 rounded-xl">
      <div class="flex h-40 rounded-xl " style="background-image: url('/images/maths.jpg')"></div>
      <h1 class="flex justify-center py-2 font-semibold">Mathematics</h1>
    </div>
    <div class="w-64 bg-white h-50 rounded-xl">
      <div class="flex h-40 rounded-xl " style="background-image: url('/images/maths.jpg')"></div>
      <h1 class="flex justify-center py-2 font-semibold">Physics</h1>
    </div>
  </div>
  <!-- Science section ends here -->

  <h1 class="flex justify-center text-4xl underline">Commerce</h1>
  <div class="flex justify-evenly">
    <div class="w-64 my-20 bg-white h-50 rounded-xl">
      <div class="flex h-40 rounded-xl " style="background-image: url('/images/accountancy1.jpg')"></div>
      <h1 class="flex justify-center py-2 font-semibold">Accountancy</h1>
    </div>
    <div class="w-64 my-20 bg-white h-50 rounded-xl">
      <div class="flex h-40 rounded-xl " style="background-image: url('/images/accountancy1.jpg')"></div>
      <h1 class="flex justify-center py-2 font-semibold">Human Resource Management</h1>
    </div>
    <div class="w-64 my-20 bg-white h-50 rounded-xl">
      <div class="flex h-40 rounded-xl " style="background-image: url('/images/accountancy1.jpg')"></div>
      <h1 class="flex justify-center py-2 font-semibold">Accountancy Hons</h1>
    </div>
  </div>
  <!-- Arts starts here -->
  <h1 class="flex justify-center text-4xl underline">Arts</h1>
  <div class="flex justify-evenly">
    <div class="w-64 my-20 bg-white h-50 rounded-xl">
      <div class="flex h-40 rounded-xl " style="background-image: url('/images/english1.jpg')"></div>
      <h1 class="flex justify-center py-2 font-semibold">English</h1>
    </div>
    <div class="w-64 my-20 bg-white h-50 rounded-xl">
      <div class="flex h-40 rounded-xl " style="background-image: url('/images/english1.jpg')"></div>
      <h1 class="flex justify-center py-2 font-semibold">Bengali</h1>
    </div>
    <div class="w-64 my-20 bg-white h-50 rounded-xl">
      <div class="flex h-40 rounded-xl " style="background-image: url('/images/history1.jpg')"></div>
      <h1 class="flex justify-center py-2 font-semibold">Hindi</h1>
    </div>
    <div class="w-64 my-20 bg-white h-50 rounded-xl">
      <div class="flex h-40 rounded-xl " style="background-image: url('/images/history1.jpg')"></div>
      <h1 class="flex justify-center py-2 font-semibold">History</h1>
    </div>
  </div>
  <div class="flex justify-evenly">
    <div class="w-64 bg-white h-50 rounded-xl">
      <div class="flex h-40 rounded-xl " style="background-image: url('/images/philosophy1.jpg')"></div>
      <h1 class="flex justify-center py-2 font-semibold">Philosophy</h1>
    </div>
    <div class="w-64 bg-white h-50 rounded-xl">
      <div class="flex h-40 rounded-xl " style="background-image: url('/images/psychology1.jpg')"></div>
      <h1 class="flex justify-center py-2 font-semibold">Psychology</h1>
    </div>
    <div class="w-64 bg-white h-50 rounded-xl">
      <div class="flex h-40 rounded-xl " style="background-image: url('/images/botany.jpg')"></div>
      <h1 class="flex justify-center py-2 font-semibold">Sanskrit</h1>
    </div>
    <div class="w-64 bg-white h-50 rounded-xl">
      <div class="flex h-40 rounded-xl " style="background-image: url('/images/history1.jpg')"></div>
      <h1 class="flex justify-center py-2 font-semibold">Sociology</h1>
    </div>
  </div>

</div>
</div>
<section class="h-screen">department section start</section>

{{ partial "schema/website.html" . }}
{{ end }}