{{ define "main" }}
{{ $pageData := .Site.Data.singlePageTemplate }}
{{/* top section start  */}}
<section class="bg-left-bottom bg-no-repeat bg-cover bg-single-article">
  {{ partial "header.html" . }}
  {{/* hero section start  */}}
  {{ with .Params.hero }}
  <div class="container grid grid-cols-1 px-4 pt-24 mx-auto text-white md:grid-cols-2">
    <div class="py-20 pb-36">
      <h1 class="text-5xl font-semibold break-words lg:text-5xl xl:text-6xl">
        <span>
          {{ .title.line1 }}
        </span>
        <span>
          {{ .title.line2 }}
        </span>
      </h1>
      <div class="mt-8 text-7 article-description">
        {{ .description | markdownify }}
      </div>
    </div>
    {{ $imageUrl := .image.url }}
    {{ $imageAlt := .image.alt }}
    {{ if not $imageUrl }}
    {{ $imageUrl = $pageData.hero.image.url }}
    {{ end }}
    {{ if not $imageAlt }}
    {{ $imageAlt = $pageData.hero.image.alt }}
    {{ end }}
    <div class="-mb-5 mt-14 md:mt-0">
      {{ partial "images/responsive" (dict "src" $imageUrl "alt" $imageAlt "class" "w-full h-auto" "width" "566" "height" "612") }}
    </div>
  </div>
  {{ end }}
  {{/* hero section end  */}}
</section>

<section class="container px-4 mx-auto">
  {{ with .Params.header }}
  <div class="flex flex-wrap mt-10 lg:mt-16 lg:flex-nowrap">
    <div class="relative order-2 w-full mb-7 lg:mb-0 md:w-180">
      {{ $activeTagButton := index .filterTags 0 }}
      <input type="text" data-id="search-blogs" oninput="App.searchBlog(event)" data-active-tab="{{ $activeTagButton.id }}" placeholder="{{ .search.placeholder }}" class="w-full px-2 py-2 text-sm border rounded-md placeholder-gray3 text-blue-gray border-gray3" />
      <svg class="w-3.5 h-3.5 absolute top-2.5 right-3.5 text-blue-gray">
        <use xlink:href="#shape-search"></use>
      </svg>
      {{ with .searchResult }}
      <p class="absolute right-0 mt-1 text-right -bottom-5 text-11 text-secondary" data-id="blog-search-result" data-single-result="{{ .single }}" data-multiple-result="{{ .multiple }}" data-not-found-result="{{ .notFound }}"></p>
      {{ end }}
    </div>
    <div class="flex items-center flex-wrap sm:flex-nowrap flex-grow order-2 -ml-3.5 tag-bluttons-container md:ml-11 justify-center md:justify-start">
      {{ range  $idx, $tag := .filterTags }}
      {{ $cls := "border-light-gray3" }}
      {{ if eq $idx 0 }}
      {{ $cls = "border-sky-blue text-white bg-sky-blue" }}
      {{ end }}
      <button onclick="App.showBlogsByTag('{{ $tag.id }}');" data-active="{{ if eq $idx 0 }}true{{ else }}false{{end}}" data-id="tag-selector-button-0303" class="mx-4 text-sm px-6 py-0.5 mb-4 sm:mb-0 shadow-button rounded-md border hover:shadow-lg {{ $cls }}" data-tag="{{ $tag.id }}">{{ $tag.label }}</button>
      {{ end }}
    </div>
    <div class="flex items-center justify-end flex-grow order-1 w-full sm:flex-nowrap lg:order-2 mb-7 lg:mb-0">
      {{ partial "breadcrumb.html" $ }}
    </div>
  </div>
  {{ end }}
</section>

<section class="container grid grid-cols-1 px-4 mx-auto mt-14 sm:grid-cols-2 gap-x-10 mb-28 lg:gap-x-14 xl:gap-x-20 gap-y-24 md:gap-y-28 lg:gap-y-36 xl:gap-y-48 lg:grid-cols-3 2xl:grid-cols-4">
  {{ $firstTag := index .Params.header.filterTags 0 }}
  {{ range .Pages }}
  {{ $pageLink := .RelPermalink }}
  {{ with .Params }}
  {{ $firstArticleTag := index .tags 0 }}
  {{ $isInActive := not (in .tags $firstTag.id)}}
  <a href="{{ $pageLink }}" data-id="blog-0503" data-tags='{{ delimit .tags "," }}' class="{{ if $isInActive }} hidden {{ end }} flex flex-col h-full bg-white rounded-3xl shadow-card2 hover:shadow-2xl group" title="{{ .articleData.title | plainify }}" aria-label="{{ .articleData.title | plainify }}" data-active="{{ if $isInActive }}false{{ else }}true{{ end }}">
    <div class="h-56">
      {{ $image := .coverImage }}
      {{ if not $image }}
      {{ $defaultImage := index $pageData.defaultImagesByTag $firstArticleTag }}
      {{ $image = $defaultImage.url }}
      {{ end }}
      {{ partial "images/responsive" (dict "src" $image "alt" .Title "class" "object-cover object-center w-full h-full rounded-xl" "width" "1068" "height" "645") }}
    </div>
    <h3 class="flex-grow px-5 py-3 text-2xl duration-300 ease-in-out text-indigo1 group-hover:text-secondary">{{ .articleData.title }}</h3>
    <div class="mt-1.5 px-5 text-sm">{{ truncate 200 "..." (.shortDescription | markdownify) | plainify }}</div>
    <div class="flex items-center justify-between pb-5 pl-5 text-xs mt-7">
      <div>
        {{ dateFormat "02 January 2006" .Lastmod }}
      </div>
      <div class="flex justify-end">
        <div class="py-2 pr-6 text-white rounded-l-full pl-7 bg-sky-blue -mr-0.5 group-hover:pl-12 ease-in-out duration-300">{{ $.Params.article.readMore }}</div>
      </div>
    </div>
  </a>
  {{ end }}
  {{ end }}
</section>

{{/* pagination section start  */}}
<section class="container px-4 mx-auto">
  <div class="flex flex-wrap items-center justify-center invisible max-w-3xl mx-auto text-dark pagination-btn-container">
    <button data-id="pagination-previous-btn" class="transform rotate-180 pagination-button">
      <svg class="w-3 h-3">
        <use xlink:href="#shape-arrow" />
      </svg>
    </button>
    {{ range seq 5 }}
    <button data-id="pagination-btn" data-btn-index="{{ . }}" class="pagination-button" data-active="false">
      {{ . }}
    </button>
    {{ end }}
    <button data-id="pagination-next-btn" class="pagination-button" disabled>
      <svg class="w-3 h-3">
        <use xlink:href="#shape-arrow" />
      </svg>
    </button>
  </div>
</section>
{{/* pagination section end  */}}

{{ with .Params.studyMaterial }}
<section class="mt-24 text-white bg-sky-blue">
  <div class="container grid grid-cols-1 px-4 py-20 mx-auto md:py-40 md:grid-cols-2">
    <div class="mb-10 md:mb-0">
      {{ with .image }}
      {{ partial "images/responsive" (dict "src" .url "alt" .alt "class" "w-full h-auto" "width" "1026" "height" "980") }}
      {{ end }}
    </div>
    <div class="flex flex-col justify-center sm:px-10 lg:px-16 xl:px-24">
      <div>
        <hr class="w-24 h-2 border-none bg-secondary mb-9">
        <h2 class="mb-8 text-4xl font-bold">{{ .title }}</h2>
        <div class="text-sm">{{ .details | markdownify }}</div>
        {{ with .cta }}
        <a href="{{ .url }}" aria-label="{{ .label }}" title="{{ .label }}" class="flex items-center mt-5 text-sm font-bold hover:text-dark">
          <span>{{ .label }}</span>
          <svg class="w-4 h-2">
            <use xlink:href="#shape-sleek-arrow" />
          </svg>
        </a>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ $mostAppreciatedArticle:= .Params.mostAppreciatedArticle }}
{{ range $.Pages  }}
{{ if eq $mostAppreciatedArticle .RelPermalink }}
<section class="mt-64">
  <div class="container grid grid-cols-1 px-4 mx-auto lg:grid-cols-2 bg-white1">
    <div class="flex flex-col justify-center py-14 sm:px-10 lg:px-14 xl:px-17">
      <a class="block group" href="{{ .RelPermalink }}" title="{{ .Params.articleData.title }}" aria-label="{{ .Params.articleData.title }}">
        <h2 class="text-4xl font-bold mb-7 text-secondary">{{ .Params.articleData.title }}</h2>
        <div class="text-sm text-gray2">{{ truncate 250 "..." (.Params.shortDescription | markdownify) | plainify }}</div>
        <div class="flex items-center justify-between text-sm mt-9">
          <div class="text-gray2">{{ dateFormat "02 January 2006" .Lastmod }}</div>
          <span class="font-bold duration-300 ease-in-out text-dark group-hover:text-secondary">{{ $.Params.article.readMore }}</span>
        </div>
      </a>
    </div>
    <div>
      {{ partial "images/responsive" (dict "src" .Params.coverImage "alt" .Title "class" "object-cover object-center w-full h-auto lg:h-full" "width" "1068" "height" "645") }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ with .Params.downloadCenter }}
<section class="container grid grid-cols-1 px-4 mx-auto mt-64 lg:grid-cols-2 mb-92">
  <div>
    {{ with .image }}
    {{ partial "images/responsive" (dict "src" .url "alt" .alt "class" "object-cover object-center w-full h-auto" "width" "1266" "height" "1159") }}
    {{ end }}
  </div>
  <div class="flex flex-col justify-center">
    <div class="sm:px-10 lg:px-16">
      <h2 class="text-5xl font-bold text-sky-blue span-text-secondary">{{ .title | markdownify }}</h2>
      <div class="my-10 text-sm text-gray2">{{ .details | markdownify }}</div>
      {{ with .cta }}
      <a href="{{ .link }}" title="{{ .label }}" aria-label="{{ .label }}" class="inline-block text-white border-2 bg-secondary border-secondary text-sm px-7 py-1.5 font-medium rounded-full hover:bg-white hover:text-secondary">{{ .label }}</a>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

<script defer type="text/javascript">
  window.onload = function() {
    App.fixHeightListPage();
  }
</script>

{{ partial "schema/website.html" . }}

<!-- page script start -->
<script defer type="text/javascript">
  window.onload = function() {
    App.onLoadBlogPage();
  }
</script>
<!-- page script end -->

{{ end }}