{{ define "singleArticleImage" }}
<img src="{{ .image.url }}" title="{{ .image.alt }}" alt="{{ .image.alt }}" class="object-contain w-full h-64" width="460" height="380">
{{ end }}

{{ define "singleArticle" }}
<div class="grid grid-rows-1 rounded-lg shadow-md cursor-pointer lg:grid-rows-8 hover:shadow-2xl group category-page-article-card-1006" role="link" data-href="{{ .ctx.RelPermalink }}" tabindex="0" onclick="window.location='{{ .ctx.RelPermalink }}';">
  {{ with .ctx.Params.articleData }}
  {{ $aImgAlt := $.dArticle.image.alt }}
  {{ if .image.alt }}
  {{ $aImgAlt = .image.alt }}
  {{ end }}
  {{ if .image.url }}
  {{ block "singleArticleImage" . }}
  {{ end }}
  {{ else }}
  {{ block "singleArticleImage" (dict "image" (dict "url" $.dArticle.image.url "alt" $aImgAlt)) }}
  {{ end }}
  {{ end }}
  <div class="flex flex-col row-span-2 px-3 py-3 gradient-rectangle-border2 lg:row-span-3">
    <h3 class="mt-3 mb-2 text-xl font-lato lg:text-2xl xl:text-3xl group-hover:text-g3">
      {{ .title }}
    </h3>
    <p class="flex-grow mt-2 mb-2 text-lg leading-8 text-g4 font-lato lg:text-xl xl:text-2xl">
      {{ .description | markdownify }}</p>
    </div>
    {{ end }}
</div>
{{ end }}

{{ define "main" }}
{{ $pageData := .Site.Data.singlePageTemplate }}
{{/* top section start  */}}
<section class="bg-left-bottom bg-no-repeat bg-cover bg-single-article">
  {{ partial "header.html" . }}
  {{/* hero section start  */}}
  {{ with .Params.articleData }}
  <div class="container grid grid-cols-1 px-4 pt-24 mx-auto text-white md:grid-cols-2">
    <div class="py-20 pb-36">
      <h1 class="text-6xl font-semibold">
        <span>
          {{ .title.line1 }}
        </span>
        <span>
          {{ .title.line2 }}
        </span>
      </h1>
      <div class="mt-8 text-7 article-description">
        {{ .description | markdownify }}
      </div>
    </div>
    {{ $imageUrl := .image.url }}
    {{ $imageAlt := .image.alt }}
    {{ if not $imageUrl }}
    {{ $imageUrl = $pageData.hero.image.url }}
    {{ end }}
    {{ if not $imageAlt }}
    {{ $imageAlt = $pageData.hero.image.alt }}
    {{ end }}
    <div class="-mb-5 mt-14 md:mt-0">
      <img src="{{ $imageUrl }}" alt="{{ $imageAlt }}" title="{{ $imageAlt }}" class="w-full h-auto" height="566" width="612">
    </div>
  </div>
  {{ end }}
  {{/* hero section end  */}}
</section>

{{/* featured post section start  */}}
{{ $featureSection := .Site.Data.list.featurePost }}
{{ with .Params.featuredPost }}
{{ $featuredPost := . }}
{{ range $.Site.Sections }}
{{ range $post := .Pages }}
{{ if eq (substr .RelPermalink 1 (sub (len .RelPermalink) 2)) $featuredPost.post }}
{{ with $post.Params.articleData }}
<section class="container grid grid-cols-1 gap-12 px-5 pb-16 mx-auto lg:grid-cols-2 text-g3 mt-28">
  <div class="w-full mx-auto lg:row-span-2 sm:w-3/4 lg:w-full">
    {{ $aImgAlt := $featureSection.image.alt }}
    {{ if .image.alt }}
    {{ $aImgAlt = .image.alt }}
    {{ end }}
    {{ if .image.url }}
    <img src="{{ .image.url }}" alt="{{ .image.alt }}" title="{{ .image.alt }}" class="w-full h-auto" width="750" height="640">
    {{ else }}
    <img src="{{ $featureSection.image.url }}" alt="{{ $aImgAlt }}" title="{{ $aImgAlt }}" class="w-full h-auto" width="750" height="640">
    {{ end }}
  </div>
  {{/* section heading start  */}}
  <div class="order-first max-w-xl lg:order-none">
    {{ with $featuredPost.title }}
    <h3 class="text-3xl font-lato md:text-5xl lg:text-6xl">
      {{ .normal }}
      <span class="text-g1">{{ .blue }}</span>
      {{ .normal2 }}
    </h3>
    {{ end }}

    <hr class="bg-g3 border-none h-0.5 w-40 md:w-56 mt-5 md:mt-10 mb-8" />
  </div>
  {{/* section heading end  */}}
  <div class="lg:pr-7">
    {{/* article heading start  */}}
    <a href="{{ $post.RelPermalink }}" class="hover:text-g1">
      {{ with .title }}
      <h4 class="text-2xl font-lato md:text-4xl lg:text-5xl md:leading-16 mb-9">
        {{ .blue }}
        {{ .normal }}
      </h4>
      {{ end }}
      <p class="text-xl font-lato">{{ .subtitle }}</p>
    </a>
    {{/* article heading end  */}}

    {{/* article related to section start */}}
    <div class="flex flex-wrap items-center mt-3 font-lato">
      <a href="{{ $post.Parent.RelPermalink }}" class="py-1 my-1 mr-5 text-sm text-white text-opacity-100 rounded-full bg-g4 opacity-60 px-7 hover:opacity-80">{{ $post.Parent.Title }}</a>
      {{ range $post.Params.relatedTo }}
      {{ $relatedTo := . }}
      {{ range $.Site.Sections }}
      {{ if eq (substr .RelPermalink 1 (sub (len .RelPermalink) 2)) $relatedTo }}
      <a href="{{ .RelPermalink }}" class="py-1 my-1 mr-5 text-sm text-white text-opacity-100 rounded-full bg-g4 opacity-60 px-7 hover:opacity-80">{{ .Title }}</a>
      {{ end }}
      {{ end }}
      {{ end }}
    </div>
    {{/* article related to section end  */}}

    {{/* article date and author section start */}}
    <div class="flex items-center mt-3 text-sm space-x-9 font-lato">
      <div class="flex items-center opacity-60">
        <svg class="flex-shrink-0 mr-2 w-7 h-7 md:w-8 md:h-8 lg:w-9 lg:h-9 xl:w-10 xl:h-10">
          <use xlink:href="#shape-calendar-with-clock"></use>
        </svg>
        {{dateFormat "2/1/2006" $post.Date }}
      </div>
      <div class="flex items-center opacity-60">
        <svg class="flex-shrink-0 mr-2 w-7 h-7 md:w-8 md:h-8 lg:w-9 lg:h-9 xl:w-10 xl:h-10">
          <use xlink:href="#shape-user-check"></use>
        </svg>
        {{ $post.Params.Author }}
      </div>
    </div>
    {{/* article date and author section end */}}

    {{/* article description section start  */}}
    <a href="{{ $post.RelPermalink }}" class="hover:text-g1">
      <div class="font-lato text-3.75 italic text-justify mt-10">
        {{ if .description }}
        {{ .description | markdownify | truncate 300 }}
        {{ else }}
        {{ $post.Summary | truncate 300 }}
        {{ end }}
      </div>
    </a>
    {{/* article description section end  */}}

    {{/* article view button start */}}
    <div class="flex justify-center py-3 mt-10">
      <a href="{{ $post.RelPermalink }}" class="flex items-center py-2 text-lg font-bold duration-500 ease-in-out border-2 rounded-full border-g4 px-9 font-montserrat hover:text-white hover:bg-g4">
        {{ $featureSection.continue }}
        <svg class="h-4 ml-5 w-7">
          <use xlink:href="#shape-arrow-right-with-head"></use>
        </svg>
      </a>
    </div>
    {{/* article view button end */}}
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{/* featured post section end  */}}

{{/* category article section start */}}
{{ if .Params.pageArticle.enable }}
{{ $defaultArticleSection := .Site.Data.singlePageTemplate.defaultArticle }}
{{ $category := (dict "label" .Name "url" .RelPermalink) }}
<section class="container px-5 pb-16 mx-auto mt-32 overflow-x-hidden text-g3 mb-36">
  {{ $totalCards := 0 }}
  {{ with .Params.pageArticle.heading }}
  <h2 class="mb-16 text-2xl text-g4 font-lato sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl">
    {{ .normal }}
    <span class="text-g1">{{ .blue }}</span>
  </h2>
  {{ end }}
  <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-3 wrapper-category-page-article-card-1006">
    {{ range .Pages }}
    {{ $totalCards = add $totalCards 1 }}
    {{ block "singleArticle" (dict "ctx" . "dArticle" $defaultArticleSection "category" $category ) }}
    {{ end }}
    {{ end }}
    {{ range .Site.Sections }}
    {{ if ne $ . }}
    {{ range $cPage := .Pages }}
    {{ range $cPage.Params.relatedTo }}
    {{ if eq . (substr $.RelPermalink 1 (sub (len $.RelPermalink) 2)) }}
    {{ $totalCards = add $totalCards 1 }}
    {{ block "singleArticle" (dict "ctx" $cPage "dArticle" $defaultArticleSection "category" $category )}}
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
  </div>
  <div class="flex items-center mt-4 space-x-6">
    <div>
      <span class="number-category-page-article-card-1006">1</span>\{{ $totalCards }}
    </div>
    <div class="flex-grow h-1 bg-indigo bg-opacity-40">
      <hr class="w-0 h-1 bg-opacity-100 border-none bg-indigo line-category-page-article-card-1006" />
    </div>
    <div class="flex items-center">
      <span class="flex items-center justify-center w-12 h-12 p-3 mr-3 text-white duration-500 ease-in-out rounded-full cursor-pointer bg-g4 hover:bg-g1 btn-pre-category-page-article-card-1006 disable-card-button" onclick="App.articlePre();" role="button" tabindex="0" aria-label="previous">
        <svg class="w-6 h-6">
          <use xlink:href="#shape-previous-icon"></use>
        </svg>
      </span>
      <span class="flex items-center justify-center w-12 h-12 p-3 text-white duration-500 ease-in-out rounded-full cursor-pointer bg-g4 hover:bg-g1 btn-next-category-page-article-card-1006" onclick="App.articleNext();" role="button" tabindex="0" aria-label="next">
        <svg class="w-6 h-6">
          <use xlink:href="#shape-next-icon"></use>
        </svg>
      </span>
    </div>
  </div>
  </div>
</section>
{{ end }}
{{/* category article section end  */}}




<script defer type="text/javascript">
  window.onload = function() {
    App.fixHeightListPage();
  }
</script>

{{ partial "schema/website.html" . }}

{{ end }}