{{ define "main" }}
{{ $pageData := .Site.Data.singlePageTemplate }}

<section class="bg-sky-blue">
  {{ partial "header.html" . }}
</section>
<div class="physics">
  <div class="min-w-full font-bold h-92"
  style="background-image: url('/images/physics.jpg')">
  <h1>Physics</h1>
</div>
</div>
<div class="min-w-full bg-gray-200 dept h-100">
   <div style="background-color:white" class="justify-between mx-auto py-28 h-72 w-250" >
    <h1 class="mx-10 text-4xl">Department of Physics</h1>
   </div>
</div>
<section class="h-screen">
  department section start
</section>

{{ partial "schema/website.html" . }}

{{ end }}