{{ define "main" }}
  {{ $pageData := .Site.Data.singlePageTemplate }}


  <section class="bg-sky-blue">
    {{ partial "header.html" . }}
  </section>
  <div class="physics">
    <div class="font-bold h-92" style="background-image: url('/images/physics2.jpg')">
      <h1 class="mx-56 text-5xl font-medium text-white pt-28">Physics</h1>
      <h1 class="py-2 mx-56 text-xl font-thin text-yellow-100">Home/Physics</h1>
    </div>
  </div>
  <div class="min-w-full pt-16 bg-gray-100 dept h-200">
    <div style="background-color:white" class="w-3/4 py-6 mx-auto h-5/6">
      <h1 class="flex justify-center text-4xl">Department of Physics</h1>
      <nav class="mx-6 bg-gray-100 h-11">
        <ul class="flex px-10 my-4 justify-evenly">
          <li class="py-3 cursor-pointer mx-9">History</li>
          <li class="py-3 cursor-pointer mx-9">Courses</li>
          <li class="py-3 cursor-pointer mx-9">Outcome</li>
          <li class="py-3 cursor-pointer mx-9">Faculty</li>
          <li class="py-3 cursor-pointer mx-9">Intake</li>
          <li class="py-3 cursor-pointer mx-9">Infrastructure</li>
          <li class="py-3 cursor-pointer mx-9">Teaching</li>
          <li class="py-3 cursor-pointer mx-9">Assessment</li>
          <li class="py-3 cursor-pointer mx-9">Results</li>
          <li class="py-3 cursor-pointer mx-9">Events</li>
        </ul>
      </nav>
    </div>
  </div>
  <section class="h-screen">department section start</section>

  {{ partial "schema/website.html" . }}
{{ end }}
