{{ define "main" }}
{{ $pageData := .Site.Data.singlePageTemplate }}
{{/* top section start  */}}
<section class="bg-left-bottom bg-no-repeat bg-cover bg-single-article">
  {{ partial "header.html" . }}
  {{/* hero section start  */}}
  {{ with .Params.articleData }}
  <div class="container grid grid-cols-1 px-4 pt-24 mx-auto text-white md:grid-cols-2">
    <div class="py-20 pb-36">
      <h1 class="text-6xl font-semibold">
        {{ .title }}
      </h1>
      <div class="mt-8 text-7 article-description">
        {{ .description | markdownify }}
      </div>
    </div>
    {{ $imageUrl := .image.url }}
    {{ $imageAlt := .image.alt }}
    {{ if not $imageUrl }}
    {{ $imageUrl = $pageData.hero.image.url }}
    {{ end }}
    {{ if not $imageAlt }}
    {{ $imageAlt = $pageData.hero.image.alt }}
    {{ end }}
    <div class="-mb-5 mt-14 md:mt-0">
      <img src="{{ $imageUrl }}" alt="{{ $imageAlt }}" title="{{ $imageAlt }}" class="w-full h-auto" height="566" width="612">
    </div>
  </div>
  {{ end }}
  {{/* hero section end  */}}
</section>


{{ with .Params.articleData }}
{{/* article data section start  */}}
<section class="container px-4 mx-auto mt-14">
  <div class="flex flex-wrap text-xs font-bold font-openSans text-secondary">
    <p class="mb-1">
      {{ $pageData.topSection.readingTime.before}}
      {{ $.ReadingTime }}
      {{ $pageData.topSection.readingTime.after}}
    </p>
    <span class="mx-1.5 mb-1">|</span>
    <p class="mb-1">
      {{ $pageData.topSection.publishDate}}
      {{ dateFormat "02 July 2006" $.Date }}
    </p>
    <span class="mx-1.5 mb-1">|</span>
    <p class="mb-1">
      {{ $pageData.topSection.updateDate}}
      {{ dateFormat "02 July 2006" $.Lastmod }}
    </p>
    <span class="mx-1.5 mb-1">|</span>
    {{ $.Params.author }}
    <span class="flex-grow"></span>
    <div class="text-gray2">
      {{ partial "breadcrumb.html" $ }}
    </div>
  </div>

  <hr class="w-full h-px mt-1.5 border-none bg-light-gray2">
</section>
{{/* article data section end  */}}
{{ end }}

{{/* top section end  */}}

<section class="container px-4 pb-56 mx-auto pt-14 font-openSans text-gray2">
  {{/* article section start  */}}
  <div class="grid grid-cols-1 gap-10 lg:grid-cols-3">
    <div class="lg:order-2">
      <div class="lg:sticky lg:top-32 xl:top-40 toc-container">
        {{ if gt ( len .TableOfContents ) 50 }}
        <div class="mb-10 text-sm leading-7 lg:mb-0">
          <aside class="px-4 pb-8 border-l-0 lg:border-l-2 border-secondary single-article-section-table-of-content0706">
            <p class="pt-2 mb-5 text-xl font-semibold underline lg:text-2xl font-poppins">
              {{ $pageData.tableOfContent.heading }}
            </p>
            {{ .TableOfContents }}
          </aside>
        </div>
        {{ end }}
        <div class="pt-12">
          {{ $aImgAlt := $pageData.defaultArticle.image.alt }}
          {{ if .Params.articleData.image.alt }}
          {{ $aImgAlt = .Params.articleData.image.alt }}
          {{ end }}
          {{ if .Params.articleData.image.url }}
          <img src="{{ .Params.articleData.image.url }}" alt="{{ .Params.articleData.image.alt }}" title="{{ .Params.articleData.image.alt }}" class="w-full h-auto" width="470" height="380">
          {{ else }}
          <img src="{{ $pageData.defaultArticle.image.url }}" alt="{{ $aImgAlt }}" title="{{ $aImgAlt }}" class="w-full h-auto" width="470" height="380">
          {{ end }}
        </div>
      </div>
    </div>
    <article class="max-w-full prose text-gray2 single-article-section-content0706 font-openSans lg:col-span-2 lg:order-1">
      <div class="italic font-light mb-9">
        {{ $.Params.shortDescription | markdownify }}
      </div>
      <div class="mb-12 article-body-toc">
        <div class="text-xl font-semibold">
          {{ $pageData.tableOfContent.heading }}
        </div>
        {{ .TableOfContents }}
      </div>
      {{ .Content }}
    </article>
  </div>
  {{/* article section end  */}}
</section>

<!-- page script start -->
<script defer type="text/javascript">
  window.onload = function() {
    App.tocHighlight();
  }
</script>
<!-- page script end -->

<!-- structure data start -->
{{ partial "schema/single-article.html" . }}
<!-- structure data end -->

{{ end }}