{{ define "main" }}

<section class="digital-psychologist-hero-0506">
  {{- partial "header.html" . -}}
  {{/* hero section start */}}
  {{ with .Params.hero }}
  <div class="container grid col-span-1 px-5 pb-48 mx-auto md:grid-cols-2">
    <h1 class="text-3xl font-semibold md:text-4xl lg:text-6xl font-lato text-g3 md:col-span-2">
      <span class="text-g1">{{ .mainTitle.blue }}</span>
      {{ .mainTitle.normal }}
    </h1>
    <div>
      <p class="max-w-xs mt-12 mb-5 text-base text-g4 font-montserrat md:text-lg md:mt-24">
        {{ .description}}
      </p>
      <div class="py-6">
        {{ partial "hero-button" .button }}
      </div>
    </div>
    <div class="flex items-center justify-center mt-14 md:mt-0">
      <img src="{{ .image.url }}" title="{{ .image.alt }}" alt="{{ .image.alt }}" class="w-full h-auto" height="750"
        width="700">
    </div>
  </div>
  {{ end }}
  {{/* hero section end */}}
</section>

{{/* presence section start */}}
{{ with .Params.presence }}
<section class="container px-5 mx-auto my-36">
  <h2 class="max-w-3xl mx-auto text-3xl text-center md:text-4xl lg:text-6xl font-lato text-g3">
    {{ .heading.normal }}
    <span class="text-g1">{{ .heading.blue }}</span>
  </h2>
  <div class="flex flex-wrap mt-16 justify-evenly">
    {{ range .options }}
    <div class="px-2 py-2 mx-6 my-8 gradient-circle-border animation-zoom-in-2506-02">
      <div
        class="grid items-center justify-center grid-rows-2 bg-white rounded-full w-60 h-60 md:w-80 md:h-80 py-7 px-7">
        <div class="flex justify-center">
          <svg class="w-24 h-auto md:w-32">
            <use xlink:href="#shape-{{ .icon }}"></use>
          </svg>
        </div>
        <p class="px-5 text-xl text-center md:text-3xl font-lato text-g3">{{ .title }}</p>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
{{/* presence section end */}}

{{/* how to interview start */}}
<section class="py-16 mb-16 interview-sequence-0406">
  <div
    class="container grid grid-cols-1 px-5 pl-8 mx-auto text-base text-white md:grid-cols-3 gap-7 lg:gap-x-14 xl:gap-x-20 font-lato lg:text-xl xl:text-2xl">
    {{ range $idx, $ctx := .Params.interview }}
    <div class="flex items-center sm:pl-10 md:pl-0">
      <svg class="flex-shrink-0 w-10 h-10 lg:w-12 xl:w-16 lg:h-12 xl:h-16">
        <use xlink:href="#shape-{{ $ctx.icon }}" />
      </svg>
      <p class="px-5 md:pr-2 lg:px-7 {{ if eq $idx (sub (len $.Params.interview) 1) }} lg:pr-0 xl:pr-7 {{ end }} flex-grow">{{ $ctx.text }}</p>
      {{ if ne $idx (sub (len $.Params.interview) 1) }}
      <svg class="self-center flex-shrink-0 hidden w-6 h-6 lg:w-7 lg:h-7 xl:w-8 xl:h-8 md:block">
        <use xlink:href="#shape-arrow-right"></use>
      </svg>
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>
{{/* how to interview end */}}

{{/*  about section start  */}}
<section class="container px-5 mx-auto mt-32 mb-16">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-9 gap-y-16 md:gap-y-36">
    {{ range $idx, $ctx := .Params.about }}
    {{ if eq (mod $idx 2) 0 }}
    <div>
      <img src="{{ $ctx.image.url }}" title="{{ $ctx.image.alt }}" alt="{{ $ctx.image.alt }}" class="w-full h-auto" height="880"
        width="730">
    </div>
    <div class="self-center gradient-rectangle-border px-1_5 py-1_5 rounded-xl">
      <div class="bg-white rounded-md px-7 py-7">
        <h3 class="text-xl font-lato text-g1 md:text-4xl mb-9">{{ $ctx.title }}</h3>
        <div class="max-w-lg text-base leading-8 font-lato text-g4 md:text-xl md:leading-10">
          {{ $ctx.details }}
        </div>
      </div>
    </div>
    {{ else }}
    <div class="self-center gradient-rectangle-border px-1_5 py-1_5 rounded-xl">
      <div class="bg-white rounded-md px-7 py-7">
        <h3 class="text-xl font-lato text-g1 md:text-4xl mb-9">{{ $ctx.title }}</h3>
        <div class="max-w-lg text-base leading-8 font-lato text-g4 md:text-xl md:leading-10">
          {{ $ctx.details }}
        </div>
      </div>
    </div>
    <div>
      <img src="{{ $ctx.image.url }}" title="{{ $ctx.image.alt }}" alt="{{ $ctx.image.alt }}" class="w-full h-auto" height="880"
        width="730">
    </div>
    {{ end }}
    {{ end }}
  </div>
</section>
{{/*  about section end  */}}

{{/*  help marketers start  */}}
{{ with .Params.helpMarketers }}
<section class="container px-5 mx-auto my-20 mt-32">
  <h2 class="mx-auto mb-16 text-3xl text-center md:text-4xl lg:text-5xl font-lato text-g3">
    {{ .heading.normal }}
    <span class="text-g1">{{ .heading.blue }}</span>
  </h2>

  <div class="grid grid-cols-1 mx-auto gap-14 md:gap-24 md:pt-8 lg:pt-16 max-w-7xl">
    {{ range  $idx, $ctx := .list }}
    <div class="{{ if eq (mod $idx 2) 1 }}justify-self-end pl-2{{ else }}pr-2{{ end }} w-full sm:w-11/12
      lg:w-10/12 xl:w-3/4">
      <div class="px-1 py-1 rounded-full gradient-rectangle-border">
        <div
          class="bg-white flex items-center rounded-full {{ if eq (mod $idx 2) 1 }}justify-end{{ end }}">
          <p
            class="font-lato font-bold text-3xl md:text-4xl lg:text-5xl bg-gradient-to-b from-g5-f to-g5-t w-12 h-12 sm:h-14 sm:w-14 lg:h-16 lg:w-16 rounded-full text-center
            text-white {{ if eq (mod $idx 2) 1 }} order-2 {{ end }} flex-shrink-0 inline-flex items-center justify-center">
            {{ add $idx 1 }}
          </p>
          <p class="text-g3 font-lato text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl px-3 sm:px-7
            {{ if eq (mod $idx 2) 1 }}order-1 text-right{{ end }}">
            {{ $ctx }}
          </p>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
{{/*  help marketers end  */}}

{{/*  help you start  */}}
{{ with .Params.helpYou }}
<section class="container px-5 mx-auto my-20 mt-32 sm:mt-40">
  <h2 class="mx-auto text-3xl text-center md:text-4xl lg:text-5xl font-lato text-g3 sm:mb-16">
    {{ .heading.normal }}
    <span class="text-g1">{{ .heading.blue }}</span>
    {{ .heading.normal2 }}
  </h2>

  <div>
    {{ range .list }}
    <div class="grid items-center grid-cols-1 sm:grid-cols-2 gap-y-5 gap-x-12">
      <h3
        class="pt-16 text-lg font-semibold font-lato text-g1 sm:text-xl md:text-2xl lg:text-4xl sm:pt-12">
        {{ .title }}</h3>
      <p
        class="pb-1 text-base font-lato text-g3 sm:text-lg md:text-xl lg:text-3xl sm:pb-14 sm:pt-28">
        {{ .details }}
      </p>
      <hr class="sm:col-span-2 border-none bg-gray-100 h-0.5">
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
{{/*  help you end  */}}

{{/*  bottom section start  */}}
{{ with .Params.bottom }}
<section class="container grid grid-cols-1 px-5 mx-auto mt-32 md:grid-cols-2 md:-mb-80">
  <div class="self-end">
    <h2
      class="max-w-md text-2xl text-g3 font-lato sm:text-3xl md:text-4xl lg:text-6xl md:leading-16 lg:leading-20 mb-7">
      {{ .heading.normal }}
      <span class="text-g1">{{ .heading.blue }}</span>
    </h2>
    <p
      class="max-w-lg text-2xl font-light text-g3 font-lato sm:text-3xl md:text-3xl lg:text-5xl md:leading-12 lg:leading-16">
      {{ .subheading }}
      <span class="text-xl text-g1 sm:text-2xl md:text-3xl lg:text-5xl">{{ .highlight }}</span>
    </p>
  </div>
  <div class="self-center">
    <img src="{{ .image.url }}" title="{{ .image.alt }}" alt="{{ .image.alt }}" width="576" height="560"
      class="w-full h-auto max-w-xl mx-auto mt-7 md:mt-0">
  </div>
</section>
{{ end }}
{{/*  bottom section end  */}}

<script defer type="text/javascript">
  window.onload = function () {
      App.onScrollAnimation('.animation-zoom-in-2506-02', ['animate__animated',
          'animate__zoomIn', 'animate__faster'
      ], ['', 'animate__delay-0_5s', 'animate__delay-1s'], ['invisible'], true);
  }
</script>

{{ partial "schema/website.html" . }}

{{ end }}