{{ define "main" }}
<section class="we-can-help-you-1606">
  {{- partial "header.html" . -}}
  {{/* hero section start */}}
  {{ with .Params.hero }}
  <div class="container grid grid-cols-1 px-5 pb-24 mx-auto md:grid-cols-2 sm:pb-64">
    <h1 class="text-3xl font-semibold md:text-4xl lg:text-6xl font-lato md:col-span-2 text-g3">
      {{ .mainTitle.normal }}
      <span class="text-g1">{{ .mainTitle.blue }}</span>
    </h1>
    <div>
      <p class="max-w-xs mt-12 mb-5 text-base text-g4 font-montserrat md:text-lg md:mt-24">
        {{ .description | markdownify }}
      </p>
      <div class="py-6">
        {{ partial "hero-button" .button }}
      </div>
    </div>
    <div class="flex items-center justify-center mt-14 md:mt-0">
      <img src="{{ .image.url }}" alt="{{ .image.alt }}" title="{{ .image.alt }}" class="w-full h-auto" height="520"
        width="620">
    </div>
  </div>
  {{ end }}
  {{/* hero section end */}}
</section>

{{/*  quotes section start  */}}
{{ with .Params }}
<section class="container grid px-5 mx-auto mt-16 md:grid-cols-2 md:mt-28 gap-x-12 gap-y-12">
  {{ range .quotes }}
  <div class="flex flex-col max-w-xs mx-auto">
    <svg
      class="w-8 h-8 mx-auto sm:w-10 sm:h-10 md:h-12 md:w-12 lg:w-14 lg:h-14 xl:w-16 xl:h-16 text-g4">
      <use xlink:href="#shape-quote" />
    </svg>
    <div
      class="flex-grow px-3 mt-10 text-base font-light leading-5 text-center font-lato text-g4 text-opacity-60 mb-7">
      {{ .content }}
    </div>
    <div class="flex justify-center space-x-5 itece">
      <hr class="border-none bg-g3 h-0.5 w-16 block">
      <hr class="border-none bg-g3 h-0.5 w-2 block">
      <hr class="border-none bg-g3 h-0.5 w-16 block">
    </div>
    <p class="mt-5 mb-3 text-base text-center text-g4 font-lato">{{ .name }}</p>
    <p class="text-sm text-center text-g4 font-lato">{{ .designation }}</p>
  </div>
  {{ end }}
</section>
{{ end }}
{{/*  quotes section end  */}}

{{/*  about section start  */}}
{{ with .Params.about }}
<section
  class="container grid px-5 mx-auto lg:grid-cols-2 md:mt-20 gap-x-16 xl:gap-x-20 mt-14 gap-y-7 sm:gap-y-10 lg:gap-y-16">
  <div
    class="max-w-6xl mx-auto mb-24 text-base text-center lg:col-span-2 text-g3 md:text-lg font-lato font-extralight md:leading-7 space-y-7">
    {{ .details | markdownify }}
  </div>
  {{ range $idx, $ctx := .points }}
  {{ $odd := eq (mod $idx 2) 1 }}
  <div
    class="{{ if $odd }} mr-auto {{ else }} ml-auto {{ end }} lg:max-w-md xl:max-w-lg text-g1 hover:text-white bg-gradient-to-b hover:from-g5-f hover:to-g5-t py-8 px-10 rounded-xl group hover:shadow-2xl cursor-pointer select-none"
    onclick="window.open('{{ $ctx.url | relURL }}', '_self')">
    <div>
      <div class="relative flex items-center justify-between">
        <h3
          class="font-lato font-medium text-2xl xl:text-3xl text-g3 group-hover:text-white {{ if $odd }} order-1 pl-4 {{else}} pr-4 {{ end }}">
          {{ $ctx.title }}</h3>
        <svg class="flex-shrink-0 w-16 h-20 -mb-px xl:h-24 xl:w-20">
          <use xlink:href="#shape-{{ $ctx.icon }}" />
        </svg>
        <div
          class="absolute bottom-0 w-full {{ if $odd }} right-0 pl-13 {{ else }} left-0 pr-13 {{ end }}">
          <hr
            class="border-g1 border-t-1 w-full lg:w-79.2 xl:w-92 group-hover:border-white {{ if $odd }} ml-auto {{ end }}">
        </div>
      </div>
    </div>
    <div
      class="border-b-1 border-g1 group-hover:border-white py-3 px-3 pt-6 {{ if $odd }} border-r-1 {{ else }} border-l-1 {{ end }} relative">
      <p class="text-sm font-lato xl:text-base text-g4 group-hover:text-white">
        {{ $ctx.description }}</p>
      <div
        class="w-5 h-5 absolute {{ if $odd }} -left-2 {{ else }} -right-2 {{ end }} -bottom-2.5 bg-gradient-to-b group-hover:from-white group-hover:to-white from-g5-f to-g5-t rounded-full">
      </div>
    </div>
  </div>
  {{ end }}
</section>
{{ end }}
{{/*  about section end  */}}

{{/*  help section start  */}}
<div class="-mb-3 about-section-top-2406 h-72"></div>
<section class="pt-20 pb-24 bg-white4">
  {{ with .Params.help }}
  <div class="container px-5 mx-auto xl:max-w-screen-2xl">
    <h2
      class="text-3xl font-bold text-center text-g3 font-playfairDisplay md:text-4xl lg:text-5xl xl:text-6xl">
      {{ .heading.normal }}
      <span class="text-g1">
        {{ .heading.blue }}
      </span>
    </h2>
    <h3
      class="mt-4 text-lg text-center text-g3 font-playfairDisplay sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl">
      {{ .subheading }}</h3>
    <div
      class="grid justify-center grid-cols-1 pl-4 mt-20 md:grid-cols-2 lg:grid-cols-3 md:mt-36 gap-y-14">
      {{ range $idx, $ctx := .points }}
      <div
        class="{{ if eq $idx 2}}md:col-span-2 lg:col-span-1{{ end }} bg-white shadow-md rounded-full w-64 h-64 xl:w-80 xl:h-80 2xl:h-96 2xl:w-96 pl-12 pt-10 xl:pt-14 xl:pl-14 pr-5 2xl:pr-8 2xl:pl-16 2xl:pt-24 relative mx-auto animation-zoom-in-2506-02 invisible">
        <div
          class="absolute font-bold font-lato text-9xl xl:text-40 2xl:text-56 text-g3 top-16 xl:top-20 -left-11 xl:-left-14 2xl:-left-16">
          {{ add $idx 1 }}
        </div>
        <h3 class="text-lg font-bold text-g3 font-lato xl:text-xl">{{ $ctx.title }}</h3>
        <p class="text-sm mt-7 xl:mt-10 text-g3 font-lato xl:text-base">{{ $ctx.description }}
        </p>
        {{ with $ctx.image }}
        <img src="{{ .url }}" alt="{{ .alt }}" title="{{ .alt }}"
          class="absolute w-32 h-auto xl:w-40 -top-11 -right-6">
        {{ end }}
      </div>
      {{ end }}
    </div>
    {{ with .button }}
    <div class="flex justify-center py-4 mt-20 lg:mt-24">
      <a {{ if .url }} href="{{ .url | relURL }}" {{ else }} onclick="App.contactFormScroll()"
        {{ end }}
        class="py-3 text-lg text-white duration-500 ease-in-out border-2 border-transparent rounded-full cursor-pointer px-9 font-lato bg-g1 md:text-xl lg:text-2xl hover:shadow-lg hover:border-g1 hover:bg-white hover:text-g1">{{ .label }}</a>
    </div>
    {{ end }}
  </div>
  {{ end }}
</section>
<div class="mb-32 about-section-bottom-2406 h-44"></div>
{{/*  help section end  */}}

<!-- offer section start -->
{{ with .Params.offer }}
<section class="container px-5 mx-auto mb-14 sm:mb-20 lg:mb-44">
  <div
    class="flex flex-col items-center mx-auto mt-20 space-x-7 space-y-7 md:space-x-12 sm:flex-row md:mt-16 lg:max-w-6xl 2xl:max-w-7xl">
    <svg
      class="self-start flex-shrink-0 block w-10 h-10 sm:w-16 sm:h-16 lg:w-20 lg:h-20 xl:w-24 xl:h-24 text-g3 sm:self-auto">
      <use xlink:href="#shape-quote" />
    </svg>
    <div class="flex-grow">
      <blockquote
        class="relative max-w-3xl mx-auto text-base italic font-semibold text-center md:text-lg lg:text-xl text-g3 font-montserrat lg:leading-loose">
        {{ .content }}
        <div class="flex items-center lg:absolute bottom-2.5 right-2 justify-end">
          <hr class="bg-gray2 h-0.5 w-4 border-none mr-2 mt-1" />
          <p class="text-base italic font-semibold font-lato md:text-lg lg:text-xl text-gray2">
            {{ .author }}
          </p>
        </div>
      </blockquote>
    </div>
    <svg
      class="self-end flex-shrink-0 block w-10 h-10 transform rotate-180 sm:w-16 sm:h-16 lg:w-20 lg:h-20 xl:w-24 xl:h-24 text-g3 sm:self-auto">
      <use xlink:href="#shape-quote" />
    </svg>
  </div>
</section>
{{ end }}
<!-- offer section end -->

<!-- category sections start -->
{{ with .Params }}
<section class="container flex flex-col px-5 mx-auto space-y-20 md:mt-16 mt-14">
  {{ range .sections }}
  <div class="grid grid-cols-1 gap-5 lg:grid-cols-2 lg:gap-14 category-section-card-2106">
    <div>
      {{ with .image }}
      <img src="{{ .url }}" alt="{{ .alt }}" title="{{ .alt }}" class="w-full h-auto xl:w-4/5" width="500"
        height="530">
      {{ end }}
    </div>
    <div class="flex flex-col">
      <div class="cursor-pointer group" onclick="window.location ='{{ .url | relURL }}';">
        <h3
          class="text-2xl text-g3 font-lato md:text-3xl lg:text-4xl xl:text-5xl py-7 group-hover:text-g1">
          {{ .heading }}</h3>
        <hr class="w-4/5 h-1 bg-g3 sm:w-2/3 lg:w-full lg:max-w-md xl:max-w-lg" />
        <p class="text-sm font-light text-g4 font-lato lg:text-base mt-7 group-hover:text-g1">
          {{ .description }}</p>
        <p
          class="mb-10 text-sm font-semibold text-g4 font-lato lg:text-base mt-9 group-hover:text-g1">
          {{ .subheading }}
        </p>
        <div
          class="flex-grow space-y-5 text-sm font-light text-g4 font-lato lg:text-base group-hover:text-g1">
          {{ .content | markdownify }}
        </div>
        {{ with .button }}
      </div>
      <div class="flex justify-end py-7">
        <a {{ if .url }} href="{{ .url | relURL }}" {{ else }} onclick="App.contactFormScroll()"
          {{ end }}
          class="flex items-center py-2 text-base font-bold duration-500 ease-in-out border-2 rounded-full cursor-pointer text-g1 font-montserrat sm:text-lg lg:text-xl px-7 border-g1 hover:text-white hover:bg-g1">
          {{ .label }}
          <svg class="w-5 h-4 ml-2 md:w-6 md:h-5">
            <use xlink:href="#shape-arrow-right-with-head-bold"></use>
          </svg>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
</section>
{{ end }}
<!-- category sections end -->

<!-- testimonial section start -->

{{ with .Params.testtimonialHeading }}
<section
  class="container px-5 mx-auto text-xl text-center font-playfairDisplay sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl text-g3 mt-92">
  <h2>
    {{ .normal }}
  </h2>
  <h2 class="mt-2 font-bold text-g1">{{ .blue }}</h2>
</section>
{{ end }}

{{ with .Params }}
{{/*  testimonial section start  */}}
<div class="mt-20 testimonial-top-bg-2406 h-80">
</div>
<section class="pb-24 bg-white4">
  <div
    class="container grid grid-cols-1 px-5 mx-auto sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-y-12 gap-x-10 xl:gap-x-14 sm:px-0">
    {{ range .testimonials }}
    <div class="px-5 py-5 bg-white rounded-lg shadow-xl">
      {{ with .image }}
      <img src="{{ .url }}" alt="{{ .alt }}" title="{{ .alt }}" class="mx-auto rounded-full shadow-xl w-28 h-28"
        width="110" height="110">
      {{ end }}
      <hr class="w-24 h-px mx-auto mt-6 mb-5 border-none bg-g3" />
      <div class="px-2 space-y-4 text-sm leading-snug font-lato text-blue-gray text-opacity-60">
        {{ .content | markdownify }}</div>
      <p class="mt-3 text-sm font-semibold text-right text-g3 font-montserrat">{{ .name }}</p>
      <p class="text-xs text-right text-g3 font-lato">{{ .from | markdownify }}</p>
    </div>
    {{ end }}
  </div>
</section>
{{/*  testimonial section end  */}}

{{/*  book section start  */}}
<section class="book-bg-2406">
  <section class="container relative px-5 mx-auto text-white font-lato pt-52 pb-36 sm:pb-72">
    {{ with .book }}
    <h2 class="mb-10 text-2xl font-bold text-center lg:text-3xl md:mt-24 md:mb-14">{{ .heading }}
    </h2>
    <p class="max-w-2xl mx-auto text-base text-center lg:text-lg">{{ .description }}</p>
    {{ with .image }}
    <div
      class="right-0 w-full max-w-md px-3 mx-auto mt-10 xl:absolute xl:top-60 2xl:top-52 xl:max-w-xs 2xl:max-w-sm xl:mt-0">
      <img src="{{ .url }}" alt="{{ .alt }}" title="{{ .alt }}" class="w-full h-auto mx-auto" width="360" height="360">
    </div>
    {{ end }}
    {{ with .button }}
    <div class="flex justify-center py-4 mt-16">
      <a href="{{ .url | relURL }}" target="_blank" rel="noopener"
        class="px-8 py-4 text-base text-white duration-300 ease-in-out border-2 border-transparent rounded-full bg-dark-purple hover:shadow-xl hover:text-dark-purple hover:bg-white hover:border-dark-purple">{{ .label }}</a>
    </div>
    {{ end }}
    {{ end }}
  </section>
</section>
{{/*  book section end  */}}
{{ end }}

<!-- testimonial section end -->

<!-- book and contain section start -->
{{ with .Params.bookContain }}
<section
  class="container grid items-center grid-cols-1 px-5 mx-auto md:grid-cols-3 lg:grid-cols-2 mt-28">
  <div class="md:col-span-2 lg:col-span-1">
    {{ with .image }}
    <img src="{{ .url }}" alt="{{ .alt }}" title="{{ .alt }}" width="680" height="750" class="w-full h-auto">
    {{ end }}
  </div>
  <div class="max-w-sm mx-auto">
    <div
      class="text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl text-g3 font-playfairDisplay">
      {{ .content }}
    </div>
    <div class="mt-20">
      {{ with .button }}
      <div class="flex py-7">
        <a {{ if .url }} href="{{ .url | relURL }}" {{ else }} onclick="App.contactFormScroll()"
          {{ end }}
          class="flex items-center py-2 text-base font-bold duration-500 ease-in-out border-2 rounded-full cursor-pointer text-g1 font-montserrat sm:text-lg lg:text-xl px-7 border-g1 hover:text-white hover:bg-g1">
          {{ .label }}
          <svg class="w-5 h-4 ml-2 md:w-6 md:h-5">
            <use xlink:href="#shape-arrow-right-with-head-bold"></use>
          </svg>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- book and contain section end -->

<script defer type="text/javascript">
  window.onload = function () {
    App.onScrollAnimation('.animation-zoom-in-2506-02', ['animate__animated',
      'animate__zoomIn', 'animate__faster'
    ], ['', 'animate__delay-0_5s', 'animate__delay-1s'], ['invisible'], true);
  }
</script>

{{ partial "schema/website.html" . }}

{{ end }}