{{ define "singleArticleImage" }}
<img src="{{ .image.url }}" alt="{{ .image.alt }}" title="{{ .image.alt }}"
    class="object-scale-down w-full h-auto md:h-108 md:w-auto" width="460" height="380">
{{ end }}


{{ define "main" }}
{{/* home hero start */}}
<section class="mb-20 homepage-hero-bg-0506">
    {{- partial "header.html" . -}}
    {{ with .Params.hero }}
    <div class="container px-5 pb-20 mx-auto md:pb-48">
        <div class="relative z-10">
            <h1 class="text-3xl font-semibold md:text-4xl lg:text-6xl font-montserrat text-g3">
                {{ .heading}}
            </h1>
            <h2
                class="mt-10 text-2xl font-medium text-center md:text-3xl lg:text-5xl font-montserrat text-g1 md:mr-36 animate__animated animate__zoomIn">
                {{ .subHeading }}
            </h2>
            <p class="max-w-xs mt-6 mb-5 text-base text-g4 font-montserrat md:text-lg md:mb-16">
                {{ .details }}
            </p>
            <div class="py-7">
                {{ partial "hero-button" .button }}
            </div>
        </div>
        <div class="sm:-mt-20 md:-mt-32 lg:-mt-72 xl:-mt-96">
            <img src="{{ .image.url }}" alt="{{ .image.alt }}" title="{{ .image.alt }}" class="w-full h-auto" height="955"
                width="1435">
        </div>
    </div>
    {{ end }}
</section>
{{/* home hero end */}}

{{/* statistics start */}}
{{ with .Params.statistics }}
<section class="container px-5 mx-auto mb-20 -mt-10">
    <h2 class="text-3xl text-center font-lato text-g3 md:text-4xl lg:text-6xl sm:mb-24">
        {{ .heading }}
    </h2>
    <div class="flex flex-wrap mt-16 justify-evenly">
        {{ range .circles }}
        <div class="invisible p-3 my-5 gradient-circle-border text-g3 animation-zoom-in-2506">
            <div
                class="flex flex-col items-center justify-center bg-white rounded-full w-60 h-60 md:w-80 md:h-80 py-7 px-7">
                <p class="text-4xl font-lato md:text-5xl lg:text-6xl">
                    {{ .title }}
                </p>
                <hr class="w-24 h-px my-4 bg-black border-none" />
                <p class="text-base text-center font-lato md:text-xl px-7">
                    {{ .description }}
                </p>

            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
{{/* statistics end */}}

{{/* how to interview start */}}
<section class="py-16 mb-16 interview-sequence-0406">
    <div
        class="container grid grid-cols-1 px-5 pl-8 mx-auto text-base text-white md:grid-cols-3 gap-7 lg:gap-x-14 xl:gap-x-20 font-lato lg:text-xl xl:text-2xl">
        {{ range $idx, $ctx := .Params.interview }}
        <div class="flex items-center sm:pl-10 md:pl-0">
            <svg class="flex-shrink-0 w-10 h-10 lg:w-12 xl:w-16 lg:h-12 xl:h-16">
                <use xlink:href="#shape-{{ $ctx.icon }}" />
            </svg>
            <p
                class="px-5 md:pr-2 lg:px-7 {{ if eq $idx (sub (len $.Params.interview) 1) }} lg:pr-0 xl:pr-7 {{ end }} flex-grow">
                {{ $ctx.text }}
            </p>
            {{ if ne $idx (sub (len $.Params.interview) 1) }}
            <svg
                class="self-center flex-shrink-0 hidden w-6 h-6 lg:w-7 lg:h-7 xl:w-8 xl:h-8 md:block">
                <use xlink:href="#shape-arrow-right"></use>
            </svg>
            {{ end }}
        </div>
        {{ end }}
    </div>
</section>
{{/* how to interview end */}}

{{/* services section start */}}
<section class="container grid grid-cols-1 px-5 mx-auto gap-y-16 lg:gap-y-10 lg:grid-cols-5">
    {{ range .Params.services }}
    <div class="lg:col-span-2">
        <div class="relative flex">
            <svg
                class="relative z-10 flex-shrink-0 bg-white rounded-full w-36 h-36 lg:w-48 lg:h-48 animation-pulse-2506">
                <use xlink:href="#shape-{{ .icon }}"></use>
            </svg>
            <div>
                <h3
                    class="pt-10 mx-3 ml-5 text-xl font-lato text-g4 sm:text-2xl md:text-3xl lg:text-4xl lg:pt-16">
                    {{ .title }}
                </h3>
            </div>
            <hr class="absolute right-0 h-1 border-none bg-g1 bottom-11 left-34 lg:left-44" />
        </div>
    </div>
    <div class="max-w-4xl px-2 lg:col-span-3">
        <h3
            class="-mt-12 text-xl font-semibold text-g1 font-lato sm:text-2xl md:text-3xl lg:text-4xl mb-7 lg:mb-14 lg:mt-16">
            {{ .subtitle }}
        </h3>
        <div
            class="text-base leading-8 text-g4 font-lato sm:text-lg lg:text-xl sm:leading-9 lg:leading-10">
            {{ .description | markdownify }}</div>
    </div>
    {{ end }}
    {{ with .Params.servicesButton }}
    <div class="flex justify-center pt-6 lg:col-span-5 md:pt-12">
        <a href="{{ .url | relURL }}" title="{{ .label }}" aria-label="{{ .label }}"
            class="px-12 py-3 text-lg text-white duration-500 ease-in-out border-2 border-transparent rounded-full bg-g1 font-montserrat lg:text-2xl hover:bg-white hover:text-g1 hover:shadow-md hover:font-semibolds hover:border-g1">
            {{ .label }}
        </a>
    </div>
    {{ end }}
</section>
{{/* services section end */}}

{{/* article section start */}}
{{ $defaultArticleSection := .Site.Data.singlePageTemplate.defaultArticle }}
{{ with  .Params.article }}
<section class="container px-5 mx-auto mt-20 overflow-x-hidden md:mt-36">
    <h2 class="mb-16 text-3xl text-center font-lato text-g3 md:text-4xl lg:text-6xl md:mb-24">
        {{ .heading }}
    </h2>
    <div class="container-home-page-article-card1106">
        {{ $total := 0 }}
        {{ range $selected := .list }}
        {{ range $.Site.Sections }}
        {{ range $ctx := .Pages }}
        {{ if eq $selected (substr .RelPermalink 1 (sub (len .RelPermalink) 2)) }}
        <div class="flex flex-col md:flex-row py-7 home-page-article-card1106">
            {{ with .Params.articleData }}
            <div
                class="{{ if eq (mod $total 2) 0 }} md:order-2 justify-end{{ else }} md:order-1 {{ end }} flex-grow flex">
                {{ $aImgAlt := $defaultArticleSection.image.alt }}
                {{ if .image.alt }}
                {{ $aImgAlt = .image.alt }}
                {{ end }}
                {{ if .image.url }}
                {{ block "singleArticleImage" . }}
                {{ end }}
                {{ else }}
                {{ block "singleArticleImage" (dict "image" (dict "url" $defaultArticleSection.image.url "alt" $aImgAlt ))  }}
                {{ end }}
                {{ end }}
            </div>
            <div
                class="px-4 md:order-1 {{ if eq (mod $total 2) 1 }} md:text-right {{ end }} max-w-3xl mt-7 md:mt-0">
                <a href="{{ $ctx.RelPermalink }}" class="group">
                    {{ with .title }}
                    <h3
                        class="mb-5 text-2xl font-lato sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-g3 md:mb-10 group-hover:text-g1">
                        <span class="text-g1">
                            {{ .blue }}
                        </span>
                        {{ .normal }}
                    </h3>
                    {{ end }}
                    <div
                        class="text-g4 font-montserrat text-base sm:text-lg lg:text-xl mb-7 md:mb-14 max-w-2xl {{ if eq (mod $total 2) 1 }} md:ml-auto md:pl-10 {{ else }} md:pr-10 {{ end }} group-hover:text-g1">
                        {{ if .description }}
                        {{ .description | markdownify | truncate 200 }}
                        {{ else }}
                        {{ $ctx.Summary | truncate 200 }}
                        {{ end }}
                    </div>
                </a>
                <div class="py-3">
                    <a href="{{ $ctx.RelPermalink }}"
                        class="px-8 py-3 text-lg text-white duration-500 ease-in-out border-2 border-transparent rounded-full font-montserrat lg:text-2xl bg-g1 hover:shadow-xl hover:border-g1 hover:bg-white hover:text-g1">
                        {{ $.Params.article.button }}
                    </a>
                </div>
            </div>
            {{ end }}
        </div>
        <hr class="bg-g3 border-none h-0.5 md:max-w-lg lg:max-w-xl xl:max-w-2xl mx-auto my-14" />
        {{  $total = add $total 1 }}
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
    </div>
    <div class="flex items-center space-x-5">
        <span class="flex items-center justify-center w-12 h-12 p-3 text-white duration-500 ease-in-out rounded-full cursor-pointer bg-g4 hover:bg-g1 btn-pre-home-page-article-card1106 disable-card-button" onclick="App.homepageArticlePre();" role="button" tabindex="0" aria-label="previous">
            <svg class="w-6 h-6">
                <use xlink:href="#shape-previous-icon"></use>
            </svg>
        </span>
        <div class="flex flex-wrap items-center justify-center flex-grow space-x-4">
            {{ $idx := 1 }}
            {{ range $selected := .list }}
            {{ range $.Site.Sections }}
            {{ range $ctx := .Pages }}
            {{ if eq $selected (substr .RelPermalink 1 (sub (len .RelPermalink) 2)) }}
            <span
                class="w-3 h-3 sm:w-4 sm:h-4 {{ if eq $idx 1 }} bg-g4 shadow-lg {{ else }} bg-ice-blue2 shadow-sm
            hidden {{ end }} rounded-full indicator-home-page-article-card1106 hover:bg-g1 ease-in-out duration-500 my-3"
                role="button" tabindex="0"
                onclick="App.homepageArticleDotBtn(Number('{{ $idx }}'));" aria-label="article-{{ $idx }}"></span>
            {{ $idx = add $idx 1 }}
            {{ end }}
            {{ end }}
            {{ end }}
            {{ end }}
        </div>
        <span class="flex items-center justify-center w-12 h-12 p-3 text-white duration-500 ease-in-out rounded-full cursor-pointer bg-g4 hover:bg-g1 btn-next-home-page-article-card1106"
            onclick="App.homepageArticleNext();" role="button" tabindex="0" aria-label="next">
            <svg class="w-6 h-6">
                <use xlink:href="#shape-next-icon"></use>
            </svg>
        </span>
    </div>
</section>
{{ end }}
{{/* article section end */}}

<script defer type="text/javascript">
    window.onload = function () {
        App.homepageArticleInit();
        App.onScrollAnimation('.animation-pulse-2506', ['animate__animated', 'animate__pulse'],
            ['', 'animate__delay-1s', 'animate__delay-1s']);
        App.onScrollAnimation('.animation-zoom-in-2506', ['animate__animated',
            'animate__zoomIn', 'animate__faster'
        ], ['', 'animate__delay-0_5s', 'animate__delay-1s'], ['invisible'], true);
    }
</script>

{{ partial "schema/website.html" . }}

{{ end }}