{{ define "main" }}
  {{ $pageData := .Site.Data.singlePageTemplate }}

  {{/* homie hero start */}}
  {{ with .Params.hero }}
    <section class="relative bg-left-bottom bg-no-repeat bg-cover bg-primary">
      {{ partial "header" $ }}
      <div class="">
        <section>
          <div class="flex flex-col items-center justify-center w-full bg-red-200" style="height: 40rem;">cover image</div>
        </section>
      </div>
    </section>
  {{ end }}
  {{/* home hero end */}}


  <section class="py-4 bg-primary">
    <div class="container grid grid-cols-1 mx-auto md:grid-cols-2 gap-7 lg:grid-cols-3">
      {{ range seq 3 }}
        <div class="bg-white rounded-sm">
          <p class="py-2 mb-2 text-xl font-bold text-center text-black1">News & Events</p>
          <div class="bg-white">
            {{ range seq 3 }}
              <div class="flex mb-3">
                <div class="flex flex-col items-center justify-center w-16 h-20 px-2 mr-3 font-bold text-center text-white bg-sky-blue rounded-r-md">24 Jan</div>
                <p>Webinar on, “Basic Computer and Soft Skill Training for Physics and Philosophy Undergraduates” (ICT/Computing Skills) organized by the Career Counselling and Placement Cell</p>
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </section>

  <div class="container grid grid-cols-1 gap-10 mx-auto md:grid-cols-2 my-28">
    <div class="max-w-md mx-auto">
      <div class="flex flex-col items-center justify-center h-56 mb-3 bg-green-200">img</div>
      <h3 class="mb-2 text-2xl font-bold">Our Mission & Vision</h3>
      <p>Cultivating the sense of discipline and dedication in addition to the intellectual, moral and cultural development is the overall mission of Kancharapara College..</p>
    </div>
    <div class="max-w-md mx-auto">
      <div class="flex flex-col items-center justify-center h-56 mb-3 bg-green-200">img</div>
      <h3 class="mb-2 text-2xl font-bold">Principal's Desk</h3>
      <h4 class="text-xl font-bold">Dr. Pranab Kr. Bera</h4>
      <p class="mt-1.5">
        Situated at the cross point between Kalyani and Kanchrapara, Kanchrapara College, established in 1972, under the entrepreneurship of the then MLA of the area, Hon’ble Sri Jagdish Chandra Das, Ex-teacher, Kanchrapara High School, is still now carrying the legacy of spreading of education
        among the common people of the locality.
      </p>
    </div>
  </div>

  <div class="container grid grid-cols-1 gap-10 mx-auto md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 my-28">
    {{ range seq 4 }}
      <div>
        <div class="flex flex-col items-center justify-center h-56 mb-3 bg-yellow-200 rounded-sm">img</div>
        <h3 class="text-xl font-medium text-center">Department Name</h3>
      </div>
    {{ end }}
  </div>

  <div class="grid w-full grid-cols-1 bg-purple-200 my-28 md:grid-cols-2">
    <div class="flex flex-col items-center justify-center bg-green-100">video</div>
    <div class="bg-black bg-opacity-30">
      <h4 class="py-6 text-3xl font-bold text-center text-white">Our Facilities</h4>

      <div>
        <ul>
          <li>
            <div class="flex mb-8 ml-36 item-center justified-center">
              <img src="https://durgapurgovtcollege.ac.in/wp-content/themes/dgc/images/all-icon/f-3.png" alt="icon" />

              <h4 class="flex flex-col items-center justify-center text-xl font-semibold ml-2.5 text-white">Books &amp; Library</h4>
            </div>
            <!-- single feature -->
          </li>
          <li>
            <div class="flex mb-8 ml-36 item-center justified-center">
              <img src="https://durgapurgovtcollege.ac.in/wp-content/themes/dgc/images/all-icon/f-2.png" alt="icon" />

              <h4 class="flex flex-col items-center justify-center text-xl font-semibold ml-2.5 text-white">Smart Classrooms</h4>
            </div>
            <!-- single feature -->
          </li>
          <li>
            <div class="flex mb-8 ml-36 item-center justified-center">
              <img src="https://durgapurgovtcollege.ac.in/wp-content/themes/dgc/images/all-icon/f-1.png" alt="icon" />

              <h4 class="flex flex-col items-center justify-center text-xl font-semibold ml-2.5 text-white">Playgrounds</h4>
            </div>
            <!-- single feature -->
          </li>
          <li>
            <div class="flex mb-8 ml-36 item-center justified-center">
              <img src="https://durgapurgovtcollege.ac.in/wp-content/themes/dgc/images/all-icon/f-2.png" alt="icon" />

              <h4 class="flex flex-col items-center justify-center text-xl font-semibold ml-2.5 text-white">Seminar Halls</h4>
            </div>
            <!-- single feature -->
          </li>
          <li>
            <div class="flex mb-8 ml-36 item-center justified-center">
              <img src="https://durgapurgovtcollege.ac.in/wp-content/themes/dgc/images/all-icon/f-1.png" alt="icon" />

              <h4 class="flex flex-col items-center justify-center text-xl font-semibold ml-2.5 text-white">Differently-abled friendly</h4>
            </div>
            <!-- single feature -->
          </li>
          <li>
            <div class="flex mb-8 ml-36 item-center justified-center">
              <img src="https://durgapurgovtcollege.ac.in/wp-content/themes/dgc/images/all-icon/f-2.png" alt="icon" />

              <h4 class="flex flex-col items-center justify-center text-xl font-semibold ml-2.5 text-white">Common Rooms</h4>
            </div>
            <!-- single feature -->
          </li>
        </ul>
      </div>
    </div>
  </div>

  {{/* testimonial section start */}}
  {{ with .Params.testimonial }}
    <section class="container grid grid-cols-1 px-4 mx-auto mb-20 lg:grid-cols-2 mt-17 sm:mt-28 lg:mt-72">
      <div>
        <div class="flex items-center mb-7">
          <span class="h-px mr-3 w-17 bg-indigo2"></span>
          <p class="text-base font-nunitoSans text-indigo2">{{ .shortTitle }}</p>
        </div>
        {{ with .title }}
          <h3 class="text-4xl leading-1.6 font-semibold text-primary span-text-secondary">
            {{ . | markdownify }}
          </h3>
        {{ end }}
        <div class="max-w-full mb-10 text-lg prose mt-9 text-gray2">
          {{ .details | markdownify }}
        </div>
        {{ with .cta }}
          <a href="{{ .url }}" title="{{ .label }}" aria-label="{{ .label }}" class="inline-block px-8 py-4 font-bold text-white border-2 rounded-full border-secondary bg-secondary hover:text-secondary hover:bg-white">{{ .label }}</a>
        {{ end }}
      </div>
      {{ $review := .reviews }}
      {{ $numReviews := len .list }}
      <div class="">
        <div class="relative pb-24 md:pr-36">
          <div class="relative">
            {{ partial "images/responsive" (dict "src" .image "alt" .imageAlt "class" "w-full h-auto rounded-2xl" "width" "943" "height" "1179") }}
            <div class="absolute inset-0 flex flex-col justify-center">
              <div class="flex items-center">
                <button type="button" aria-label="Previous testimonial" data-id="testimonial-previous-btn" onclick="App.previousTestimonial();" class="flex flex-col items-center justify-center hidden w-16 h-16 bg-white rounded-full hover:text-white hover:bg-sky-blue text-sky-blue">
                  <svg class="w-4 transform rotate-180 h-7">
                    <use xlink:href="#shape-arrow" />
                  </svg>
                </button>
                <span class="flex-grow"></span>
                <button type="button" aria-label="Next testimonial" data-id="testimonial-next-btn" onclick="App.nextTestimonial(Number('{{ $numReviews }}'));" class="flex flex-col items-center justify-center w-16 h-16 bg-white rounded-full hover:text-white hover:bg-sky-blue text-sky-blue">
                  <svg class="w-4 h-7">
                    <use xlink:href="#shape-arrow" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
          {{ range $idx, $testimonial := .list }}
            <div class="absolute bottom-0 right-0 py-4 sm:py-8 sm:ml-16 bg-white rounded-2xl px-5 sm:px-14 shadow-card1 animate__animated animate__faster {{ if ne $idx 0 }}hidden{{ end }}" data-testimonial-id="{{ $idx }}">
              <div class="text-lg font-nunitoSans text-gray2 leading-1.8">{{ .review | markdownify }}</div>
              <div class="flex items-center justify-between mt-9">
                <div class="text-lg font-nunitoSans text-indigo3">{{ .name }}</div>
                <div>
                  <div class="flex items-center">
                    {{ range seq .rating }}
                      <svg class="w-5 h-5 mr-1">
                        <use xlink:href="#shape-star5" />
                      </svg>
                    {{ end }}
                  </div>
                  {{ $reviewString := replace $review "{0}" (add $idx 1) }}
                  {{ $reviewString = replace $reviewString "{1}" $numReviews }}
                  <p class="mt-1 text-sm font-nunitoSans text-indigo4">{{ $reviewString }}</p>
                </div>
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>
  {{ end }}
  {{/* testimonial section end */}}

  {{/* news section end */}}

  {{ partial "schema/website.html" . }}


  <footer class="py-5 text-white footer bg-primary">
    <div class="container grid grid-cols-2 gap-10 mx-auto footer-container md:grid-cols-2 lg:grid-cols-4">
      <div class="box">
        <div class="mb-2 text-xl font-bold heading">How to Find Us</div>
        <p class="content">
          <strong>Kanchrapara College </strong><br />
          Kanchrapara <br />
          North 24-PGS <br />
          PIN- 743145 <br />
          <br />
          Tel: (033) 25858790/5159 <br />
          Email: info@kpcoll.ac.in
        </p>
      </div>

      <div class="box">
        <div class="mb-2 text-xl font-bold heading">Quick Links</div>
        <div class="flex flex-col space-y-3 links">
          <a href="#" class="link">Login</a>
          <a href="#" class="link">Department</a>
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSeUj3uiumXJs88YyZJ2RJZTD5KYylcJJbwZDdjpWksuaGBnPg/viewform?usp=sf_link" class="link" target="_blank">Leave Details</a>
          <a href="#" class="link">Sitemap</a>
        </div>
      </div>
      <div class="box">
        <div class="mb-2 text-xl font-bold heading">Other Links</div>
        <div class="flex flex-col space-y-3 links">
          <a href="https://www.klyuniv.ac.in/" class="link" target="_blank">University of Kalyani</a>
          <a href="https://www.ugc.ac.in/" class="link" target="_blank">University Grants Commission</a>
          <a href="http://www.naac.gov.in/" class="link" target="_blank">NAAC</a>
          <a href="https://wbhed.gov.in/" class="link" target="_blank">Highrt Education Dept.</a>
        </div>
      </div>
      <div class="box">
        <div class="mb-2 text-xl font-bold heading">Corner</div>
        <div class="flex flex-col space-y-3 links">
          <a href="#" class="link">College Corner</a>
          <a href="#" class="link">Teacher Corner</a>
          <a href="#" class="link">Student Corner</a>
        </div>
      </div>
    </div>
  </footer>
{{ end }}
