<div class="text-xs font-normal font-openSans">
    <h6 class="">
        <a href="{{ "/" | relLangURL }}" class="underline hover:text-secondary">Home</a>
        {{ $relPermalink := .RelPermalink }}
        {{ $url := "" }}
        {{ $lng :=.Site.Language.Lang }}
        {{ if eq (substr .RelPermalink 1 2 ) .Site.Language.Lang }}
        {{ $url = "/it"}}
        {{ end }}
        {{ range $idx, $ctx := (split .RelPermalink "/") }}
        {{ if gt (len $ctx ) 0 }}
        {{ if ne $ctx $lng  }}
        {{ $url = print $url "/" $ctx }}
        {{ if eq (len (split $relPermalink  "/") ) (add $idx 2 ) }}
        / <span class="">
            {{ humanize $ctx | title }}
        </span>
        {{ else }}
        / <a href="{{ print $url "/" | relURL }}" class="underline hover:text-secondary">
            {{ humanize $ctx | title }}
        </a>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
    </h6>
</div>