{{ $siteLink := $.RelPermalink }}
{{ with .Site.Data.header }}
<header class="text-white page-header">
  <div class="container flex px-4 mx-auto py-3.5 items-center">
    {{ with .logo }}
    <a href="{{ .url }}" aria-label="{{ .title }}" title="{{ .title }}" class="flex items-center justify-center mr-7 sm:mr-16 md:mr-20">
      <svg class="flex-shrink-0 w-10 h-10 lg:w-12 xl:w-16 lg:h-12 xl:h-16">
        <use xlink:href="#shape-{{ .icon }}" />
      </svg>
      <div class="flex flex-col ml-4 leading-5 sm:ml-6 sm:leading-5 md:leading-6 lg:leading-7 sm:text-lg md:text-xl lg:text-2xl">
        <span>Psicologo</span>
        <span>Scolastico</span>
      </div>
    </a>
    {{ end }}
    <div class="items-center hidden lg:flex">
      {{ range .menuLinks }}
      <a href="{{ .url }}" aria-label="{{ .title }}" title="{{ .title }}" class="mr-9 hover:underline decoration-2">{{ .title }}</a>
      {{ end }}
    </div>
    <span class="flex-grow"></span>
    {{ with .contactButton }}
    <label for="contact-us-dialog" aria-label="{{ .label }}" title="{{ .label }}" class="px-4 py-2.5 sm:px-5 sm:py-3 text-sm text-white duration-300 ease-in-out border-2 cursor-pointer lg:text-base lg:px-6 lg:py-4 border-sky-blue bg-sky-blue hover:bg-transparent hover:text-sky-blue rounded-2xl">{{ .label }}</label>
    {{ end }}

    <button class="text-white duration-300 ease-in-out border-none outline-none cursor-pointer lg:hidden hover:text-sky-blue ml-9" aria-label="menu" onclick="App.toggleMenu()">
      <svg class="w-10 h-10">
        <use xlink:href="#shape-menu-icon"></use>
      </svg>
    </button>
  </div>

</header>
{{ end }}