<input type="checkbox" id="contact-us-dialog" class="hidden" oninput="App.onOpenContactForm(event)">
<section class="fixed inset-0 h-screen overflow-y-auto bg-left-bottom bg-no-repeat bg-cover bg-contact-us z-70 contact-us-dialog">
  <label for="contact-us-dialog" class="absolute cursor-pointer lg:text-white text-dark2 right-7 top-7 hover:text-secondary">
    <svg class="w-8 h-8 sm:w-9 sm:h-9">
      <use xlink:href="#shape-cross-circle" />
    </svg>
  </label>
  <div class="container grid h-full grid-cols-1 py-0 mx-auto sm:py-7 lg:grid-cols-2">
    <div class="h-full px-4 py-8 lg:px-24 bg-light-gray">
      <h2 class="py-6 text-3xl leading-10 text-center text-dark">{{ .heading }}</h2>
      {{ with .form }}
      <form action="{{ site.Params.contactFormUrl }}" onsubmit="onSubmitContactForm(event);" method="POST" id="contact-us-form">
        <div class="grid grid-cols-2 gap-x-3">
          <input type="text" value="123" name="{{ .fName.id }}" id="{{ .fName.id }}" placeholder="{{ .fName.placeholder }}" {{ if .fName.required }} required oninvalid="this.setCustomValidity('{{ .requiredMessage }}');" oninput="this.setCustomValidity('');" {{ end }} class="border-transparent outline-none border-2 focus:border-dark bg-white px-5 py-3.5 placeholder-opacity-50 placeholder-black text-dark rounded-lg mb-6 text-sm w-full">
          <input type="text" name="{{ .lName.id }}" id="{{ .lName.id }}" placeholder="{{ .lName.placeholder }}" {{ if .lName.required }} required oninvalid="this.setCustomValidity('{{ .requiredMessage }}');" oninput="this.setCustomValidity('');" {{ end }} class="border-transparent outline-none border-2 focus:border-dark bg-white px-5 py-3.5 placeholder-opacity-50 placeholder-black text-dark rounded-lg mb-6 text-sm w-full">
        </div>
        <input type="email" name="{{ .email.id }}" id="{{ .email.id }}" placeholder="{{ .email.placeholder }}" {{ if .email.required }} required oninvalid="this.setCustomValidity('{{ .requiredMessage }}');" oninput="onInputFormEmail(this);" {{ end }} class="border-transparent border-2 focus:border-dark outline-none bg-white px-5 py-3.5 placeholder-opacity-50 placeholder-black text-dark rounded-lg mb-6 text-sm w-full">
        <input type="text" name="{{ .subject.id }}" id="{{ .subject.id }}" placeholder="{{ .subject.placeholder }}" {{ if .subject.required }} required oninvalid="this.setCustomValidity('{{ .requiredMessage }}');" oninput="this.setCustomValidity('');" {{ end }} class="border-transparent border-2  focus:border-dark outline-none bg-white px-5 py-3.5 placeholder-opacity-50 placeholder-black text-dark rounded-lg mb-6 text-sm w-full">
        <textarea name="{{ .message.id }}" id="{{ .message.id }}" placeholder="{{ .message.placeholder }}" rows="5" {{ if .message.required }} required oninvalid="this.setCustomValidity('{{ .requiredMessage }}');" oninput="this.setCustomValidity('');" {{ end }} class="border-transparent border-2 focus:border-dark outline-none bg-white px-5 py-3.5 placeholder-opacity-50 placeholder-black text-dark rounded-lg mb-6 text-sm w-full"></textarea>
        <label for="{{ .confirm.id }}" class="checkbox-label text-dark">
          <input type="checkbox" name="{{ .confirm.id }}" id="{{ .confirm.id }}" required oninvalid="this.setCustomValidity('{{ .requiredMessage }}');" onchange="this.setCustomValidity('');">
          {{ .confirm.label | markdownify }}
        </label>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-6 pt-9">
          <div class="relative z-10 flex justify-center h-20 sm:justify-start">
            {{ if site.Params.enableRecaptcha }}
            <div class="g-recaptcha" data-sitekey="{{ site.Params.recaptchaKey }}"></div>
            {{ end }}
          </div>
          <div class="relative z-0 flex self-center justify-start w-full sm:justify-end">
            <button type="submit" class="w-full px-10 py-2 text-lg bg-white sm:w-auto text-dark hover:text-white hover:bg-dark">
              {{ .submitBtn }}
            </button>
          </div>
        </div>
        <input type="text" id="site" name="site" readonly required hidden value="psicologoscolastico" class="hidden">
      </form>
      {{ end }}
    </div>
    <div class="flex-col justify-center hidden lg:flex">
      {{ with .image }}
      {{ partial "images/responsive" (dict "src" .url "alt" .alt "class" "w-full h-auto -ml-17" "width" "1932" "height" "1618") }}
      {{ end }}
    </div>
  </div>
</section>