{{/* scroll top top button start */}}
<button
  class="fixed z-10 inline-flex items-center justify-center hidden text-white duration-300 ease-in-out border-2 rounded-full shadow-lg outline-none cursor-pointer bg-sky-blue scroll-to-top-1606 right-5 bottom-5 w-14 h-14 hover:shadow-2xl hover:bg-white hover:text-sky-blue border-sky-blue"
  onclick="App.scrollToTop()"
>
  <svg class="w-8 h-5">
    <use xlink:href="#shape-arrow-up" />
  </svg>
</button>
{{/* scroll top top button end */}}

{{/* footer start */}}
<footer class="pt-5 text-white footer bg-primary">
  <div class="container grid grid-cols-2 gap-10 pb-8 mx-auto footer-container md:grid-cols-2 lg:grid-cols-4">
    <div class="box">
      <div class="mb-2 text-xl font-bold heading">How to Find Us</div>
      <p class="content">
        <strong>Kanchrapara College </strong><br />
        Kanchrapara <br />
        North 24-PGS <br />
        PIN- 743145 <br />
        <br />
        Tel: (033) 25858790/5159 <br />
        Email: info@kpcoll.ac.in
      </p>
    </div>

    <div class="box">
      <div class="mb-2 text-xl font-bold heading">Quick Links</div>
      <div class="flex flex-col space-y-3 links">
        <a href="#" class="link">Login</a>
        <a href="#" class="link">Department</a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeUj3uiumXJs88YyZJ2RJZTD5KYylcJJbwZDdjpWksuaGBnPg/viewform?usp=sf_link" class="link" target="_blank">Leave Details</a>
        <a href="#" class="link">Sitemap</a>
      </div>
    </div>
    <div class="box">
      <div class="mb-2 text-xl font-bold heading">Other Links</div>
      <div class="flex flex-col space-y-3 links">
        <a href="https://www.klyuniv.ac.in/" class="link" target="_blank">University of Kalyani</a>
        <a href="https://www.ugc.ac.in/" class="link" target="_blank">University Grants Commission</a>
        <a href="http://www.naac.gov.in/" class="link" target="_blank">NAAC</a>
        <a href="https://wbhed.gov.in/" class="link" target="_blank">Highrt Education Dept.</a>
      </div>
    </div>
    <div class="box">
      <div class="mb-2 text-xl font-bold heading">Corner</div>
      <div class="flex flex-col space-y-3 links">
        <a href="#" class="link">College Corner</a>
        <a href="#" class="link">Teacher Corner</a>
        <a href="#" class="link">Student Corner</a>
      </div>
    </div>
  </div>
  {{ with .Site.Data.footer }}
    {{ partial "contact-us.html" .contactUs }}
    <div class="py-2 text-sm text-white bg-dark">
      <div class="container flex flex-col justify-between mx-auto text-center md:flex-row">
        <p>
          © All rights reserved to
          <a href="/" title="Kanchrapara College" aria-label="Kanchrapara College" class="hover:underline"> Kanchrapara College </a>
        </p>
        <p class="mt-2 md:mt-0">
          Developed By <a href="https://technohubnetwork.com/" class="text-secondary hover:text-primary" title="Techno Hub Network(THN)" aria-label="Techno Hub Network(THN)" target="_blank">
            <abbr title="Techno Hub Network" class="no-underline border-none outline-none">THN</abbr>
          </a>
        </p>
      </div>
    </div>
  {{ end }}
</footer>
{{/* footer end */}}


<!-- tidio chat script start -->
{{ if .Site.Params.enableChat }}
  <script async src="//code.tidio.co/b1cpgwrn11trxczys4t7pjtlzp0jos4p.js"></script>
{{ end }}
<!-- tidio chat script end -->

{{/* script start */}}
{{ $opts := dict "config" "assets/js/babel.config.js" "noComments" true "minified" true }}
{{- $transpiled := resources.Get "js/app.js" | babel $opts | resources.Minify -}}<script async src="{{ $transpiled.RelPermalink }}"></script> {{/* script end */}}
