<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {{ block "title" . }}
      {{- .Title }}
    {{ end }}
  </title>

  {{ if .Description }}
    <meta name="description" content="{{ .Description }}" />
  {{ else if .IsPage }}
    <meta name="description" content="{{ .Summary | plainify }}" />
  {{ else }}
    <meta name="description" content="{{ .Site.Data.default.description }}" />
  {{ end }}

  {{ partial "google-analytics.html" .Site.GoogleAnalytics }}


  <meta name="language" content="{{ .Language.LanguageName }}" />

  {{ if .Params.private }}
    <meta name="robots" content="noindex,none" />
  {{ else }}
    <meta name="robots" content="index,follow" />
  {{ end }}

  {{- if .Params.Author }}
    <meta name="author" content="Pritam Ghosh (https://mepritam.dev)" />
  {{ end -}}


  <link rel="shortcut icon" type="image/icon" href="{{ "favicon.png" | lower }}" />

  <!-- font preload start -->
  {{ range .Site.Data.preloadConfig.staticPaths }}
    {{ if eq .template $.Layout }}

      {{ range .fonts }}
        <link rel="preload" href="{{ .href }}" as="font" type="{{ .type }}" crossorigin />
      {{ end }}

    {{ end }}

    {{ if eq $.RelPermalink "/404.html" }}
      {{ if eq .template "404" }}
        {{ range .fonts }}
          <link rel="preload" href="{{ .href }}" as="font" type="{{ .type }}" crossorigin />
        {{ end }}

      {{ end }}
    {{ end }}
  {{ end }}
  <!-- font preload end -->

  {{ if .Site.Params.enableRecaptcha }}
    <meta name="google-recaptcha" content="true" />
  {{ end }}


  <link rel="stylesheet" type="text/css" href="/plugins/glider_js/glider.min.css" />
  {{- $styles := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") -}}
  {{- $animation := resources.Get "css/animate.css/animate.min.css" -}}
  {{ $styles := slice $styles  $animation | resources.Concat "css/style.min.css" }}
  {{- if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
  {{ else }}
    {{- $styles := $styles | minify | fingerprint | resources.PostProcess -}}    <style>{{ $styles.Content }}</style>
  {{ end -}}
  <meta name="wot-verification" content="f1bf274173f22e6297ce" />

  {{ if in $.RelPermalink "/gallery/" }}
    <link rel="stylesheet" href="/gallery/photoswipe.css" />
    <link rel="stylesheet" href="/gallery/default-skin/default-skin.css" />
    <style>
      figure img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        max-height: 200px;
      }

      @media (max-width: 639px) {
        figure img {
          max-height: 130px;
        }
      }
    </style>
  {{ end }}
</head>
