{{ define "main" }}
  <section class="bg-gray-100">
    <section class="container pt-16 mx-auto">
      {{ with .Params.hero }}
        <h1 class="text-5xl font-medium text-center">{{ .title }}</h1>
      {{ end }}


      <div class="grid grid-cols-1 pt-10 pb-32 mt-10 lg:grid-cols-2 xl:grid-cols-3 gap-x-4 gap-y-4">
        {{ range .Params.committees }}
          <div class="bg-white">
            <h2 class="px-3 py-2 font-bold text-white bg-primary">{{ .name }}</h2>
            <ol class="px-3.5 py-3.5 font-roboto text-sm list-decimal list-inside">
              {{ range .members }}
                {{ if ne (printf "%T" .) "string" }}
                  <h3 class="ml-2 font-bold">{{ .section }}</h3>
                  <ul class="px-3.5 py-3.5 ml-2 list-decimal list-inside">
                    {{ range .members }}
                      <li class="mb-2">{{ . }}</li>
                    {{ end }}
                  </ul>
                {{ else }}
                  <li class="mb-1">
                    {{ . }}
                  </li>
                {{ end }}
              {{ end }}
            </ol>
          </div>
        {{ end }}
      </div>
    </section>
  </section>

  {{ partial "schema/website.html" . }}
{{ end }}
