{{ $imagePath := .src }}
{{ $splits := split $imagePath "/" }}
{{ $fileName := index $splits (sub (len $splits) 1) }}
{{ $fileName = replace $fileName ".webp" ""  }}

{{ $sizes := (slice "360" "480" "768" "1024" "1336") }}

<picture>
  {{ range $sizes }}
  {{ $path := replace $imagePath $fileName (print $fileName "x" . "w") }}
  <source srcset="{{ $path }}" media="(min-width: {{ . }}px)" />
  {{ end }}
  <img src="{{ $imagePath }}" title="{{ .alt }}" alt="{{ .alt }}" class="{{ .class }}" height="{{ .height }}" width="{{ .width }}">
</picture>
