{{ $imagePath := .src }}
{{ $splits := split $imagePath "/" }}
{{ $fileName := index $splits (sub (len $splits) 1) }}
{{ $fileName = replace $fileName ".webp" ""  }}

{{ $sizes := (slice "360" "480" "768" "1024" "1336") }}

{{ $srcset := "" }}
{{ range $sizes }}
{{ $path := replace $imagePath $fileName (print $fileName "x" . "w") }}
{{ $srcset = print $srcset $path " x" . "w," }}
{{ end }}

<img srcset="{{ $srcset }}" src="{{ $imagePath }}" title="{{ .alt }}" alt="{{ .alt }}" class="{{ .class }}" height="{{ .height }}" width="{{ .width }}">