@font-face {
  font-family: NunitoSans;
  src: local('NunitoSans-Regular'), local('NunitoSans Regular'), url('/static/fonts/NunitoSans/NunitoSans-Regular.woff2')  format('woff2'), url('/static/fonts/NunitoSans/NunitoSans-Regular.woff')  format('woff'), url('/static/fonts/NunitoSans/NunitoSans-Regular.ttf')  format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: NunitoSans;
  src: local('NunitoSans-Medium'), local('NunitoSans Medium'), url('/static/fonts/NunitoSans/NunitoSans-Medium.woff2')  format('woff2'), url('/static/fonts/NunitoSans/NunitoSans-Medium.woff')  format('woff'), url('/static/fonts/NunitoSans/NunitoSans-Medium.ttf')  format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: NunitoSans;
  src: local('NunitoSans-SemiBold'), local('NunitoSans SemiBold'), url('/static/fonts/NunitoSans/NunitoSans-SemiBold.woff2')  format('woff2'), url('/static/fonts/NunitoSans/NunitoSans-SemiBold.woff')  format('woff'), url('/static/fonts/NunitoSans/NunitoSans-SemiBold.ttf')  format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: NunitoSans;
  src: local('NunitoSans-Bold'), local('NunitoSans Bold'), url('/static/fonts/NunitoSans/NunitoSans-Bold.woff2')  format('woff2'), url('/static/fonts/NunitoSans/NunitoSans-Bold.woff')  format('woff'), url('/static/fonts/NunitoSans/NunitoSans-Bold.ttf')  format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: NunitoSans;
  src: local('NunitoSans-ExtraBlack'), local('NunitoSans ExtraBlack'), url('/static/fonts/NunitoSans/NunitoSans-ExtraBlack.woff2')  format('woff2'), url('/static/fonts/NunitoSans/NunitoSans-ExtraBlack.woff')  format('woff'), url('/static/fonts/NunitoSans/NunitoSans-ExtraBlack.ttf')  format('ttf');
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: NunitoSans;
  src: local('NunitoSans-Black'), local('NunitoSans Black'), url('/static/fonts/NunitoSans/NunitoSans-Black.woff2')  format('woff2'), url('/static/fonts/NunitoSans/NunitoSans-Black.woff')  format('woff'), url('/static/fonts/NunitoSans/NunitoSans-Black.ttf')  format('ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: local('Poppins-Regular'), local('Poppins Regular'), url('/static/fonts/Poppins/Poppins-Regular.woff2')  format('woff2'), url('/static/fonts/Poppins/Poppins-Regular.woff')  format('woff'), url('/static/fonts/Poppins/Poppins-Regular.ttf')  format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: local('Poppins-Medium'), local('Poppins Medium'), url('/static/fonts/Poppins/Poppins-Medium.woff2')  format('woff2'), url('/static/fonts/Poppins/Poppins-Medium.woff')  format('woff'), url('/static/fonts/Poppins/Poppins-Medium.ttf')  format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: local('Poppins-SemiBold'), local('Poppins SemiBold'), url('/static/fonts/Poppins/Poppins-SemiBold.woff2')  format('woff2'), url('/static/fonts/Poppins/Poppins-SemiBold.woff')  format('woff'), url('/static/fonts/Poppins/Poppins-SemiBold.ttf')  format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: local('Poppins-Bold'), local('Poppins Bold'), url('/static/fonts/Poppins/Poppins-Bold.woff2')  format('woff2'), url('/static/fonts/Poppins/Poppins-Bold.woff')  format('woff'), url('/static/fonts/Poppins/Poppins-Bold.ttf')  format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: local('Poppins-ExtraBlack'), local('Poppins ExtraBlack'), url('/static/fonts/Poppins/Poppins-ExtraBlack.woff2')  format('woff2'), url('/static/fonts/Poppins/Poppins-ExtraBlack.woff')  format('woff'), url('/static/fonts/Poppins/Poppins-ExtraBlack.ttf')  format('ttf');
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Poppins;
  src: local('Poppins-Black'), local('Poppins Black'), url('/static/fonts/Poppins/Poppins-Black.woff2')  format('woff2'), url('/static/fonts/Poppins/Poppins-Black.woff')  format('woff'), url('/static/fonts/Poppins/Poppins-Black.ttf')  format('ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
