/* ========================== Global style ============================= */
html,
body {
  @apply font-poppins;
}

html,
body,
* {
  scroll-behavior: smooth;
}

a,
button {
  @apply duration-300 ease-in-out;
}

.span-text-secondary span {
  @apply text-secondary;
}

.error-message-details a {
  @apply underline hover:text-secondary;
}

.prose a {
  @apply hover:text-secondary;
}

.min-h-50-screen {
  min-height: 50vh;
}

button.pagination-button {
  @apply flex items-center justify-center flex-shrink-0 w-8 h-8 mx-2 mb-3 text-sm font-semibold border-2 border-transparent rounded-lg hover:bg-white text-dark hover:border-sky-blue;
}

button.pagination-button[data-active='true'] {
  @apply text-white border-sky-blue bg-sky-blue hover:bg-white hover:text-sky-blue;
}

button.pagination-button:disabled {
  @apply text-white bg-gray-300 border-gray-300 cursor-not-allowed hover:border-gray-300 hover:bg-gray-300 hover:text-white;
}

button.pagination-active-button {
  @apply text-white bg-sky-blue;
}

.footer-last span,
a {
  @apply mx-1;
}

.footer-last a {
  @apply hover:text-secondary;
}

/* ========================== homepage style ============================= */
.hp-video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.news-article {
  max-height: 12rem;
}

.news-article:first-of-type {
  max-height: 38rem;
}
/* ========================== single article style ============================= */
.article-description span {
  @apply font-medium text-secondary;
}

.article-body-toc ul {
  @apply text-sm list-none;
}

.article-body-toc ul li::before {
  @apply w-1.25 h-1.25 ml-2 rounded-full bg-secondary;
}

.article-body-toc ul li a {
  @apply no-underline duration-300 ease-in-out text-secondary hover:text-sky-blue hover:underline;
}

aside nav#TableOfContents ul {
  @apply list-disc list-inside;
}

aside nav#TableOfContents ul li {
  @apply mb-2 leading-5;
}

aside nav#TableOfContents ul li::marker {
  @apply w-1 h-1 mr-0.5 rounded-full bg-secondary;
}

aside nav#TableOfContents ul li a {
  @apply no-underline hover:text-sky-blue hover:underline;
}

/* ========================== services page style ============================= */
.download-list-item-container {
  min-height: 40vh;
}

/* ========================== footer style ============================= */
.current-year-footer-0102 a {
  @apply hover:text-secondary;
}

input#contact-us-dialog ~ section.contact-us-dialog {
  @apply hidden;
}

input#contact-us-dialog:checked ~ section.contact-us-dialog {
  @apply block;
}

/* ========================== contact form style ============================= */
.checkbox-label a {
  @apply underline hover:text-sky-blue;
}

/* ********************************************************************************************************************************** */
/* ========================== header style ============================= */
input.nav-menu ~ ul.nav-menu {
  @apply hidden;
}

input.nav-menu:checked ~ label.nav-menu {
  @apply border-white;
}

input.nav-menu ~ label.nav-menu svg {
  @apply duration-300 ease-in-out rotate-0;
}

input.nav-menu:checked ~ label.nav-menu svg {
  @apply -rotate-90;
}

input.nav-menu:checked ~ ul.nav-menu {
  @apply block;
}

input.nav-menu ~ label.nav-menu-overlay {
  @apply hidden;
}

input.nav-menu:checked ~ label.nav-menu-overlay {
  @apply block;
}