{{ define "main" }}
{{ $pageData := .Site.Data.singlePageTemplate }}

<section class="bg-left-bottom bg-no-repeat bg-cover bg-single-article">
  {{ partial "header.html" . }}
  {{/* hero section start  */}}
  <div class="container grid grid-cols-1 pt-24 mx-auto text-white md:grid-cols-2">
    <div class="py-20 pb-36">
      <h1 class="text-6xl font-semibold">
        {{ .Site.Data.notFoundPage.title }}
      </h1>
      <div class="mt-16">
        <a href="{{ $pageData.hero.button.link | relURL }}" aria-label="{{ $pageData.hero.button.label }}" title="{{ $pageData.hero.button.label }}" class="py-4 text-lg text-white border-2 px-14 rounded-2xl bg-sky-blue lg:text-xl hover:shadow-lg border-sky-blue hover:text-sky-blue hover:bg-transparent">
          {{ $pageData.hero.button.label }}
        </a>
      </div>
    </div>
    {{ $imageUrl := $pageData.image.url }}
    {{ $imageAlt := $pageData.image.alt }}
    {{ if not $imageUrl }}
    {{ $imageUrl = $pageData.hero.image.url }}
    {{ end }}
    {{ if not $imageAlt }}
    {{ $imageAlt = $pageData.hero.image.alt }}
    {{ end }}
    <div class="-mb-5 mt-14 md:mt-0">
      {{ partial "images/responsive" (dict "src" $imageUrl "alt" $imageAlt "class" "w-full h-auto" "width" "566" "height" "612") }}
    </div>
  </div>
  {{/* hero section end  */}}
</section>

<section class="container mx-auto mb-20 mt-28 text-dark error-message-details min-h-50-screen">
  {{ with .Site.Data.notFoundPage.errorMessage }}
  <div class="max-w-5xl mx-auto text-3xl font-semibold leading-loose article-description md:text-4xl lg:text-6xl">
    {{ . | markdownify }}
  </div>
  {{ end }}
</section>
{{ end }}