{{ define "main" }}
  {{ $pageData := .Site.Data.singlePageTemplate }}
  {{/* homie hero start */}}
  {{ with .Params.hero }}
    <section class="container relative mx-auto bg-left-bottom bg-no-repeat bg-cover">
      <section class="grid grid-cols-1 lg:grid-cols-4">
        <div class="bg-white lg:col-span-3">
          <div class="h-full glider-contain">
            <div class="h-full glider">
              <div class="relative flex flex-col w-full text-center">
                <img src="/images/kpc.jpg" alt="" class="w-full h-full" />
                <span class="absolute left-0 right-0 text-xl font-bold text-center text-white font-montserrat bottom-10">Slide 1</span>
              </div>
              <div class="relative flex flex-col w-full text-center">
                <img src="/images/kpc.jpg" alt="" class="w-full h-full" />
                <span class="absolute left-0 right-0 text-xl font-bold text-center text-white font-montserrat bottom-10">Slide 2</span>
              </div>
              <div class="relative flex flex-col w-full text-center">
                <img src="/images/kpc.jpg" alt="" class="w-full h-full" />
                <span class="absolute left-0 right-0 text-xl font-bold text-center text-white font-montserrat bottom-10">Slide 3</span>
              </div>
              <div class="relative flex flex-col w-full text-center">
                <img src="/images/kpc.jpg" alt="" class="w-full h-full" />
                <span class="absolute left-0 right-0 text-xl font-bold text-center text-white font-montserrat bottom-10">Slide 4</span>
              </div>
            </div>

            <button aria-label="Previous" class="flex flex-col items-center justify-center w-8 h-8 mt-10 ml-10 text-white rounded-full bg-sky-blue hover:bg-white glider-prev hover:text-secondary">
              <svg class="flex-shrink-0 w-4 h-4 transform rotate-180">
                <use xlink:href="#shape-arrow"></use>
              </svg>
            </button>
            <button aria-label="Next" class="flex flex-col items-center justify-center w-8 h-8 mt-10 mr-10 text-white rounded-full bg-sky-blue hover:bg-white glider-next hover:text-secondary">
              <svg class="flex-shrink-0 w-4 h-4 transform rotate-0">
                <use xlink:href="#shape-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="col-span-1 px-3 py-2 bg-white">
          <p class="py-2 pt-10 mb-2 text-xl font-bold text-center lg:pt-2 text-black1">Important Links</p>
          <ul class="container mx-auto lg:mx-0">
            {{ range seq 4 }}
              <li class="mb-2 border-b border-gray-400 py-1.5 text-sm">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, architecto.</li>
            {{ end }}
          </ul>
        </div>
      </section>
    </section>
  {{ end }}
  {{/* home hero end */}}


  <section class="py-4 pt-8 mt-16 transform lg:mt-0 lg:mx-8 lg:-translate-y-6 rounded-t-2xl bg-primary">
    <div class="container grid grid-cols-1 gap-10 mx-auto md:grid-cols-2 lg:grid-cols-3">
      <div class="order-2 px-4 py-4 pb-10 bg-white rounded-md md:order-1">
        <div class="font-montserrat">
          <p class="text-base font-bold">About us</p>
          <hr class="outline-none border-none bg-secondary w-12 h-0.5 my-1.5" />
          <h2 class="mt-2 mb-6 text-4xl font-bold text-secondary">Welcome to KPC</h2>
          <div class="text-sm font-semibold font-roboto">
            <p>UGC 2(f) and 12 (B) status</p>
            <p>NAAC Accredited College with A Grade in 2017 (2nd Cycle)</p>
            <p>[CGPA=3.02]</p>
            <p>DST-FIST Sponsored College</p>
            <p>RUSA funded College</p>
            <p>Affiliated to Kalyani University, Kalyani</p>
            <p></p>
          </div>
          <div class="mt-5 text-sm font-medium leading-relaxed">The College of Education conducts its programs and activities guided by overarching Vision, Mission, Goals, Values, Beliefs statements. All are revisited periodically and revised, if appropriate.</div>
        </div>
      </div>

      <div class="order-3 overflow-hidden bg-white rounded-md md:order-2" style="min-height: 30rem;">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3674.004350754839!2d88.43939721496645!3d22.95006688498985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f89501c0e3f1fd%3A0xbde716cb3a6f2642!2sKanchrapara%20College!5e0!3m2!1sen!2sin!4v1654075227619!5m2!1sen!2sin"
          height="100%"
          width="100%"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          style="overflow:hidden;height:100%;width:100%;border:0;"
        ></iframe>
      </div>

      <div class="order-1 bg-white rounded-md md:order-3">
        <div class="grid grid-cols-3 overflow-hidden bg-white border-b-2 rounded-t-md border-secondary">
          {{ range  $idx, $noticeParams := .Params.noticeBoard }}
            <button
              data-notice-button="{{ $noticeParams.title | urlize }}"
              onclick="changeNoticeTab('{{ $noticeParams.title | urlize }}')"
              class="py-2 text-xl font-bold text-center {{ if eq $idx 0 }}
                text-white bg-secondary border-secondary
              {{ else }}
                text-black1 border-transparent
              {{ end }}"
            >
              {{ $noticeParams.title }}
            </button>
          {{ end }}
        </div>
        {{ range  $idx, $noticeParams := .Params.noticeBoard }}
          <div class="flex flex-col pb-11 overflow-hidden pt-3.5 rounded-b-md h-full hover:text-secondary ease-in-out duration-300 rounded-sm {{ if ne $idx 0 }}hidden{{ end }}" data-notice-id="{{ $noticeParams.title | urlize }}">
            {{ with site.GetPage $noticeParams.listPage }}
              <div class="flex-grow">
                {{ range (first 4 (index .Params $noticeParams.param)) }}
                  <a href="{{ .downloadLink }}" class="relative flex items-center mb-4 text-black hover:text-primary hover:shadow-2xl">
                    {{ if .department }}
                      <span class="absolute px-2 py-0.5 text-white rounded-full right-1.5 -top-2 bg-secondary font-bold text-9 text-center" style="min-width: 5rem;">{{ .department }}</span>
                    {{ end }}
                    <div class="flex flex-col items-center justify-center w-12 px-2 mr-3 font-bold text-center text-white h-14 text-13 bg-sky-blue rounded-r-md">
                      {{ dateFormat "02 Jan" .date }}
                    </div>
                    <p class="py-3 pr-1 text-13">{{ .title }}</p>
                  </a>
                {{ end }}
              </div>
              <div class="flex justify-end flex-shrink-0 w-full pb-3">
                <a href="{{ .RelPermalink }}" class="flex-shrink-0 block px-8 py-2 font-bold text-white border-2 rounded-sm hover:text-sky-blue hover:bg-white bg-sky-blue border-sky-blue">See All</a>
              </div>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>

  <section class="bg-gray-100 py-14 my-14">
    <div class="container mx-auto">
      <div class="grid max-w-6xl grid-cols-1 gap-10 mx-auto md:grid-cols-2 lg:grid-cols-3">
        {{ with .Params.principalDesk }}
          <div class="flex flex-col max-w-md px-3 py-3 mx-auto bg-white rounded-md">
            <img src="{{ .image }}" alt="{{ .name }}" title="{{ .name }}" class="block object-cover object-center w-3/4 mx-auto mb-3 rounded-md" style="height: 12rem;" />
            <h3 class="mb-2 text-2xl font-bold px-1.5 font-montserrat">{{ .title }}</h3>
            <h4 class="text-xl font-bold text-primary px-1.5">{{ .name }}</h4>
            <div class="mt-1.5 px-1.5 text-sm text-justify flex-grow">
              {{ truncate 350 (.details | markdownify) }}
            </div>
            <div class="flex justify-end">
              <a href="/" class="px-2.5 py-1 font-medium bg-primary border-2 hover:text-primary hover:bg-white border-primary rounded-sm text-white inline-flex mt-3">Continue ...</a>
            </div>
          </div>
        {{ end }}

        {{ range .Params.visionMission }}
          <div class="flex flex-col max-w-md px-3 py-3 mx-auto bg-white rounded-md">
            <img src="{{ .image }}" alt="{{ .title }}" title="{{ .title }}" class="block object-cover object-center w-3/4 mx-auto mb-3 rounded-md" style="height: 12rem;" />
            <h3 class="mb-2 text-2xl font-bold px-1.5 font-montserrat">{{ .title }}</h3>
            <div class="text-sm px-1.5 text-justify flex-grow">
              {{ .details | markdownify }}
            </div>
            <div class="flex justify-end">
              <a href="/" class="px-2.5 py-1 font-medium bg-primary border-2 hover:text-primary hover:bg-white border-primary rounded-sm text-white inline-flex mt-3">Continue ...</a>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>

  <section class="container relative w-full mx-auto d-glider-contain mb-14">
    <h3 class="mb-10 text-4xl font-bold text-center mt-14 text-primary">Our Departments</h3>
    <div class="w-full pb-3 d-glider">
      {{ range seq 9 }}
        <a href="/departments/computer-science" class="inline-block pb-2 rounded-sm hover:shadow-2xl sm:mx-5">
          <div class="flex flex-col items-center justify-center mb-3 bg-yellow-200 rounded-sm h-44">img {{ . }}</div>
          <h3 class="text-xl font-medium text-center">Department Name {{ . }}</h3>
        </a>
      {{ end }}
    </div>

    <button aria-label="Previous" class="absolute flex flex-col items-center justify-center w-8 h-8 mt-10 ml-10 text-white rounded-full -left-9 top-14 bg-sky-blue hover:bg-white d-glider-prev hover:text-secondary">
      <svg class="flex-shrink-0 w-4 h-4 transform rotate-180">
        <use xlink:href="#shape-arrow"></use>
      </svg>
    </button>
    <button aria-label="Next" class="absolute flex flex-col items-center justify-center w-8 h-8 mt-10 mr-10 text-white rounded-full -right-9 top-14 bg-sky-blue hover:bg-white d-glider-next hover:text-secondary">
      <svg class="flex-shrink-0 w-4 h-4 transform rotate-0">
        <use xlink:href="#shape-arrow"></use>
      </svg>
    </button>

    <div role="tablist" class="d-dots"></div>
  </section>

  <div class="pb-12 bg-primary my-14 md:grid-cols-2">
    <h4 class="py-8 text-4xl font-bold text-center text-white pb-14">Our Facilities</h4>

    <ul class="container grid grid-cols-2 gap-10 mx-auto gap-y-14 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6">
      <li class="flex item-center justified-center">
        <img src="https://durgapurgovtcollege.ac.in/wp-content/themes/dgc/images/all-icon/f-3.png" alt="icon" class="object-contain object-center w-14 h-14" />

        <h4 class="flex flex-col items-center justify-center text-lg font-semibold ml-2.5 text-white">Books &amp; Library</h4>
        <!-- single feature -->
      </li>
      <li class="flex item-center justified-center">
        <img src="https://durgapurgovtcollege.ac.in/wp-content/themes/dgc/images/all-icon/f-2.png" alt="icon" class="object-contain object-center w-14 h-14" />

        <h4 class="flex flex-col items-center justify-center text-lg font-semibold ml-2.5 text-white">Smart Classrooms</h4>
        <!-- single feature -->
      </li>
      <li class="flex item-center justified-center">
        <img src="https://durgapurgovtcollege.ac.in/wp-content/themes/dgc/images/all-icon/f-1.png" alt="icon" class="object-contain object-center w-14 h-14" />

        <h4 class="flex flex-col items-center justify-center text-lg font-semibold ml-2.5 text-white">Playgrounds</h4>
        <!-- single feature -->
      </li>
      <li class="flex item-center justified-center">
        <img src="https://durgapurgovtcollege.ac.in/wp-content/themes/dgc/images/all-icon/f-2.png" alt="icon" class="object-contain object-center w-14 h-14" />

        <h4 class="flex flex-col items-center justify-center text-lg font-semibold ml-2.5 text-white">Seminar Halls</h4>
        <!-- single feature -->
      </li>
      <li class="flex item-center justified-center">
        <img src="https://durgapurgovtcollege.ac.in/wp-content/themes/dgc/images/all-icon/f-1.png" alt="icon" class="object-contain object-center w-14 h-14" />

        <h4 class="flex flex-col items-center justify-center text-lg font-semibold ml-2.5 text-white">Differently-abled friendly</h4>
        <!-- single feature -->
      </li>
      <li class="flex item-center justified-center">
        <img src="https://durgapurgovtcollege.ac.in/wp-content/themes/dgc/images/all-icon/f-2.png" alt="icon" class="object-contain object-center w-14 h-14" />

        <h4 class="flex flex-col items-center justify-center text-lg font-semibold ml-2.5 text-white">Common Rooms</h4>
        <!-- single feature -->
      </li>
    </ul>
  </div>

  {{/* testimonial section start */}}
  {{ with .Params.testimonial }}
    <section class="container grid grid-cols-1 mx-auto lg:grid-cols-2 my-14">
      <div>
        <div class="flex items-center mb-7">
          <span class="h-px mr-3 w-17 bg-indigo2"></span>
          <p class="text-base font-nunitoSans text-indigo2">{{ .shortTitle }}</p>
        </div>
        {{ with .title }}
          <h3 class="text-4xl leading-1.6 font-semibold text-primary span-text-secondary">
            {{ . | markdownify }}
          </h3>
        {{ end }}
        <div class="max-w-full mb-10 text-lg prose mt-9 text-gray2">
          {{ .details | markdownify }}
        </div>
        {{ with .cta }}
          <a href="{{ .url }}" title="{{ .label }}" aria-label="{{ .label }}" class="inline-block px-8 py-4 font-bold text-white border-2 rounded-full border-primary bg-primary hover:text-primary hover:bg-white">{{ .label }}</a>
        {{ end }}
      </div>
      {{ $review := .reviews }}
      {{ $numReviews := len .list }}
      <div class="grid max-w-md grid-cols-1 gap-8 sm:grid-cols-2">
        {{ range seq 4 }}
          <div class="font-montserrat">
            <div class="w-32 h-32 mx-auto bg-green-200 rounded-full"></div>
            <p class="font-bold mt-2.5 mb-1 text-center">Student Name</p>
            <p class="text-sm font-medium text-center text-primary">Department</p>
          </div>
        {{ end }}
      </div>
    </section>
  {{ end }}
  {{/* testimonial section end */}}

  {{/* news section end */}}

  {{ partial "schema/website.html" . }}


  <div class="pb-16 bg-gray-100 mt-14">
    <div class="container relative mx-auto">
      <h4 class="py-8 text-4xl font-bold text-center pb-14 text-primary">
        <a href="/gallery"> Our Gallery </a>
      </h4>

      <div class="w-full pb-3 g-glider">
        {{ range seq 9 }}
          <a href="/departments/computer-science" class="inline-block rounded-md sm:mx-5">
            <div class="flex flex-col items-center justify-center mb-3 bg-red-200 rounded-md h-44">img {{ . }}</div>
          </a>
        {{ end }}
      </div>

      <button aria-label="Previous" class="absolute flex flex-col items-center justify-center w-8 h-8 mt-10 ml-10 text-white rounded-full -left-9 top-40 bg-sky-blue hover:bg-white g-glider-prev hover:text-secondary">
        <svg class="flex-shrink-0 w-4 h-4 transform rotate-180">
          <use xlink:href="#shape-arrow"></use>
        </svg>
      </button>
      <button aria-label="Next" class="absolute flex flex-col items-center justify-center w-8 h-8 mt-10 mr-10 text-white rounded-full -right-9 top-40 bg-sky-blue hover:bg-white g-glider-next hover:text-secondary">
        <svg class="flex-shrink-0 w-4 h-4 transform rotate-0">
          <use xlink:href="#shape-arrow"></use>
        </svg>
      </button>

      <div role="tablist" class="g-dots"></div>
    </div>
  </div>

  <script src="/plugins/glider_js/glider.min.js"></script>
  <script>
    const glider = new Glider(document.querySelector('.glider'), {
      slidesToShow: 1,
      slidesToScroll: 1,
      dots: '.d-dots',
      rewind: true,
      duration: 0.75,
      draggable: true,
      arrows: {
        prev: '.glider-prev',
        next: '.glider-next',
      },
    });

    sliderAuto(glider, 2000);

    const dGlider = new Glider(document.querySelector('.d-glider'), {
      slidesToShow: 1,
      slidesToScroll: 1,
      rewind: true,
      draggable: true,
      duration: 0.75,
      arrows: {
        prev: '.d-glider-prev',
        next: '.d-glider-next',
      },
      responsive: [
        {
          // screens greater than >= 768px
          breakpoint: 768,
          settings: {
            // Set to `auto` and provide item width to adjust to viewport
            slidesToShow: 2,
            slidesToScroll: 1,
            duration: 0.25,
          },
        },
        {
          // screens greater than >= 1024px
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 2,
            duration: 0.25,
          },
        },
        {
          // screens greater than >= 1280px
          breakpoint: 1280,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 3,
            duration: 0.25,
          },
        },
      ],
    });

    sliderAuto(dGlider, 2000);

    const gGlider = new Glider(document.querySelector('.g-glider'), {
      slidesToShow: 1,
      slidesToScroll: 1,
      rewind: true,
      draggable: true,
      duration: 0.75,
      arrows: {
        prev: '.g-glider-prev',
        next: '.g-glider-next',
      },
      responsive: [
        {
          // screens greater than >= 768px
          breakpoint: 768,
          settings: {
            // Set to `auto` and provide item width to adjust to viewport
            slidesToShow: 2,
            slidesToScroll: 1,
            duration: 0.25,
          },
        },
        {
          // screens greater than >= 1024px
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 2,
            duration: 0.25,
          },
        },
        {
          // screens greater than >= 1280px
          breakpoint: 1280,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 4,
            duration: 0.25,
          },
        },
      ],
    });

    sliderAuto(gGlider, 2000);

    function changeNoticeTab(name) {
      const targetElement = document.querySelector(`[data-notice-id="${name}"]`);
      const displayElements = document.querySelectorAll(`[data-notice-id]:not(.hidden)`);
      for (const displayElement of displayElements) {
        displayElement.classList.add('hidden');
      }
      targetElement.classList.remove('hidden');

      const targetButton = document.querySelector(`[data-notice-button="${name}"]`);
      const displayButtons = document.querySelectorAll(`[data-notice-button].bg-secondary`);
      for (const displayButton of displayButtons) {
        displayButton.classList.remove('text-white', 'bg-secondary', 'border-secondary');
        displayButton.classList.add('text-black1', 'border-transparent');
      }
      targetButton.classList.remove('text-black1', 'border-transparent');
      targetButton.classList.add('text-white', 'bg-secondary', 'border-secondary');
    }

    function sliderAuto(slider, miliseconds) {
      const slidesCount = slider.track.childElementCount;
      let slideTimeout = null;
      let nextIndex = 1;

      function slide() {
        slideTimeout = setTimeout(function () {
          if (nextIndex >= slidesCount) {
            nextIndex = 0;
          }
          slider.scrollItem(nextIndex++);
        }, miliseconds);
      }

      slider.ele.addEventListener('glider-animated', function () {
        window.clearInterval(slideTimeout);
        slide();
      });

      slide();
    }
  </script>
{{ end }}
